@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="main-page">
    <div class="partner-banner">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/images/Banner.png" alt="Home" class="menu-icon" />
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>



        <div class="login-box">
            <div class="login-box-head">
                <div class="login-box-title">Potwierdź e-mail</div>
                <div class="Main-Text">

                    Aby zakończyć proces rejestracji, prosimy o sprawdzenie swojej skrzynki e-mail. Wysłaliśmy wiadomość zawierającą link weryfikacyjny. Prosimy o otwarcie tej wiadomości i kliknięcie w link, aby potwierdzić swoją rejestrację.
                </div>

                <a href="/Identity/Account/Login" class="Main-button">Logowanie</a>
            </div>
       
        </div>


        <div class="heat-lead"><img src="~/images/Heat-Lead-B.png" /></div>

    </div>
</div>
