@model List<PriceTracker.Models.StoreClass>

@{
    ViewData["Title"] = "Lista Sklepów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Lista Sklepów</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa Sklepu</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var store in Model)
            {
                <tr>
                    <td>@store.StoreName</td>
                    <td>
                        <a asp-controller="PriceHistory" asp-action="Index" asp-route-storeId="@store.StoreId" class="btn btn-secondary">Ceny</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nie masz przypisanych żadnych sklepów.</p>
}
