
<p>
    Pozdrawiamy,<br />
    <strong>Zespół PriceSafari</strong>
</p>

<p>
    Tel.: +48 514 188 340<br />
    <a href="mailto:biuro@pricesafari.pl">biuro@pricesafari.pl</a><br />
    <a href="https://www.pricesafari.pl">www.pricesafari.pl</a>
</p>
<p>
    <img src="cid:signatureImage" alt="Podpis" />
</p>

<p>
    <strong>Heated Box Polska sp. z o. o.</strong><br />
    Wojciecha Korfantego 16<br />
    42-202 Częstochowa<br />
    NIP 9492247951 &nbsp;&nbsp; REGON 388799620 &nbsp;&nbsp; KRS 0000897972
</p>

<p>
    <em>Poufność:</em> Treść tej wiadomości jest poufna i prawnie chroniona. Odbiorcą może być jedynie jej adresat. Zakazane jest przeglądanie, przesyłanie, rozpowszechnianie lub inne wykorzystywanie treści tej wiadomości, jak również podejmowanie działań na jej podstawie, przez osoby lub podmioty inne niż zamierzony adresat. Jeśli otrzymali Państwo tę wiadomość przez pomyłkę, prosimy o poinformowanie nadawcy i usunięcie jej z komputera.
</p>
