@* @model PriceSafari.Models.HomeModels.ContactFormSubmission

<h3>Dziękujemy za przesłanie zgłoszenia</h3>
<p>Witaj @Model.FirstName,</p>

<p>Dziękujemy za skorzystanie z naszego formularza kontaktowego. Potwierdzamy otrzymanie Twojej wiadomości i postaramy się odpowiedzieć w ciągu 24 godzin. Nasz zespół skontaktuje się z Tobą, aby umówić spotkanie online, podczas którego omówimy Twoje potrzeby związane z monitorowaniem cen online.</p>

<p>Po spotkaniu przygotujemy dla Ciebie darmowe konto demo, które umożliwi analizowanie cen 300 wybranych produktów przez okres 72 godzin. W międzyczasie jesteśmy do Twojej dyspozycji, jeśli masz dodatkowe pytania.</p>

<p>Zrobimy wszystko, aby odpowiedzieć tak szybko, jak to możliwe.</p>

@await Html.PartialAsync("EmailTemplates/_EmailFooter")
 *@