@model PriceSafari.Models.HomeModels.ContactFormSubmission

<h3>Dziękujemy za przesłanie zgłoszenia</h3>
<p>Witaj @Model.FirstName,</p>
<p>Dziękujemy za skontaktowanie się z nami. Odpowiemy na Twoje zapytanie tak szybko, jak to możliwe.</p>



@await Html.PartialAsync("EmailTemplates/_EmailFooter")