@{
    ViewData["Title"] = "Google Scraper";
}

<h1>Google Scraper</h1>

<form asp-action="StartScraping" method="post">
    <label for="title">Product Title:</label>
    <input type="text" id="title" name="title" required value="Karcher K 7 Power (180bar, 600l/h) Myjka Wysokociśnieniowa" /><br /><br />

    <label for="storeName">Store Name:</label>
    <input type="text" id="storeName" name="storeName" required /><br /><br />

    <label for="targetUrl">Target URL:</label>
    <input type="text" id="targetUrl" name="targetUrl" required /><br /><br />

    <button type="submit">Run Scraper</button>
</form>
