@model PriceSafari.Models.ManagerViewModels.SchedulerViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<style> 
    .ScheduledTask {
        width:200px;
        padding: 2px 12px;
        border-radius: 4px;
       
    }

    .simpleColumnBox {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

    }

</style>

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Planowanie mapowania
            </div>
            <partial name="_ManageNavCol" />
        </div>

        <div class="simpleColumnBox">

            <form asp-action="SetSchedule" method="post">
                <!-- Pola: -->
                <input asp-for="ScheduledTime" type="time" required />
                <span asp-validation-for="ScheduledTime"></span>

                <label>
                    <input asp-for="IsEnabled" type="checkbox" />
                    Mapowanie
                </label>
                <span asp-validation-for="IsEnabled"></span>

                <input asp-for="UrlScheduledTime" type="time" required />
                <span asp-validation-for="UrlScheduledTime"></span>

                <label>
                    <input asp-for="UrlIsEnabled" type="checkbox" />
                    Scalanie URL
                </label>
                <span asp-validation-for="UrlIsEnabled"></span>

                <input asp-for="GoogleScheduledTime" class="GoogleScheduledTime" type="time" required />
                <span asp-validation-for="GoogleScheduledTime"></span>

                <label>
                    <input asp-for="GoogleIsEnabled" type="checkbox" /> Google Scraping
                </label>
                <span asp-validation-for="GoogleIsEnabled"></span>



                <input asp-for="CeneoScheduledTime" class="CeneoScheduledTime" type="time" required />
                <span asp-validation-for="CeneoScheduledTime"></span>

                <label>
                    <input asp-for="CeneoIsEnabled" type="checkbox" /> Ceneo Scraping
                </label>
                <span asp-validation-for="CeneoIsEnabled"></span>



                <button type="submit">Zapisz zmiany</button>
            </form>


            


            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Nazwa sklepu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var store in Model.AutoMatchingStores)
                    {
                        <tr>
                            <td>@store.StoreName</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
