@model PriceSafari.Models.ManagerViewModels.SchedulerViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<style> 
    .ScheduledTask {
        width:200px;
        padding: 2px 12px;
        border-radius: 4px;
       
    }

    .simpleColumnBox {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

    }

</style>

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Planowanie mapowania
            </div>
            <partial name="_ManageNavCol" />
        </div>

        <div class="simpleColumnBox">

            <div asp-validation-summary="All"></div>

                <form asp-action="SetSchedule" method="post" class="product-upper-box">
                    <div>
                  
                        <input asp-for="ScheduledTask.ScheduledTime" class="ScheduledTask" type="time" required />
                        <span asp-validation-for="ScheduledTime"></span>
                    <label>
                        <input asp-for="ScheduledTask.IsEnabled" name="IsEnabled" type="checkbox" />Włącz mapowanie
                    </label>
                    <span asp-validation-for="IsEnabled"></span>
                    </div>
                    
                      
                  
                    <button type="submit" class="Button-Add-Small">Zapisz zmiany</button>
                </form>
            


            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Nazwa sklepu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var store in Model.AutoMatchingStores)
                    {
                        <tr>
                            <td>@store.StoreName</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
