@model PriceSafari.Models.ManagerViewModels.SchedulerViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Ustawienia zaplanowanego mapowania
            </div>
            <partial name="_ManageNavCol" />
        </div>

        <div class="Column-30">

            <div asp-validation-summary="All"></div>

            <form asp-action="SetSchedule" method="post">
                <div>
                    <label>Scheduled Time (HH:mm)</label>
                    <input asp-for="ScheduledTask.ScheduledTime" name="ScheduledTime" type="time" required />
                    <span asp-validation-for="ScheduledTime"></span>
                </div>
                <div>
                    <label>
                        <input asp-for="ScheduledTask.IsEnabled" name="IsEnabled" type="checkbox" /> Enable Scheduling
                    </label>
                    <span asp-validation-for="IsEnabled"></span>
                </div>
                <button type="submit">Save</button>
            </form>

            <h2>Stores Scheduled for Automatic Execution</h2>
            <table>
                <thead>
                    <tr>
                        <th>Store Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var store in Model.AutoMatchingStores)
                    {
                        <tr>
                            <td>@store.StoreName</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
