@model PriceTracker.Models.FlagsClass

@{
    ViewData["Title"] = "Create Flag";
}

<h2>Create Flag</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FlagName" class="control-label"></label>
        <input asp-for="FlagName" class="form-control" />
        <span asp-validation-for="FlagName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FlagColor" class="control-label"></label>
        <input asp-for="FlagColor" type="color" class="form-control" />
        <span asp-validation-for="FlagColor" class="text-danger"></span>
    </div>
    <input type="hidden" name="storeId" value="@ViewBag.StoreId" />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Store">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
