@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}



<div class="Page-Box">

    <div class="Category-Box-Title">Ustawienia Konta
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })">
            <button id="logout" type="submit" class="Button-Page-Small-r">Wyloguj się</button>
        </form>

    
    </div>
    <div class="Page-Box-Container">
        <div class="Page-Box-Category-Account">

            <partial name="_ManageNav" />
        </div>
        <div class="Page-Box-Items">
            @RenderBody()
        </div>
    </div>
        
   
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
