
<div class="Fotter">
    <div class="Fotter-Box">

        <div class="Fotter-Box-Head">
            <div class="Nav-Bar-Logo">
                <img src="~/images homepage/PriceSafari.png" alt="Price Safari">
            </div>
        </div>
        <div class="Horizontal-100">
            <div class="Footer-Section">
                <div class="Footer-Section-Title">
                    PriceSafari | Monitoring Cen
                </div>

                <a href="/Home/Index" class="Footer-Section-Link">Strona główna</a>
                <a href="/Home/Contact" class="Footer-Section-Link">Testuj za darmo</a>
                <div class="Footer-Section-Link">
                    O nas
                </div>
                <div class="Footer-Section-Link">
                    Dlaczego PriceSafari?
                </div>
                <div class="Footer-Section-Link">
                    FAQ
                </div>
                <div class="Footer-Section-Link">
                    Polityka prywatności
                </div>
                <div class="Footer-Section-Link">
                    Mapa strony
                </div>
            </div>
            <div class="Footer-Section">
                <div class="Footer-Section-Title">
                    Narzędzie | Cennik
                </div>
                <div class="Footer-Section-Link">
                    Monitoring cen w Polsce
                </div>
                <div class="Footer-Section-Link">
                    Raporty cenowe w Europie
                </div>
                <div class="Footer-Section-Link">
                    Śledzenie konkurencji
                </div>
                <div class="Footer-Section-Link">
                    Cennik
                </div>

            </div>
            <div class="Footer-Section">
                <div class="Footer-Section-Title">
                    Dane spółki
                </div>
                <div class="Footer-Section-Text">
                    Heated Box Polska Sp. z o.o.
                </div>
                <div class="Footer-Section-Text">
                    ul. Wojciecha Korfantego 16
                </div>
                <div class="Footer-Section-Text">
                    42-202 Częstochowa
                </div>
                <div class="Footer-Section-Text">
                    NIP 9492247951
                </div>
                <div class="Footer-Section-Text">
                    REGON 388799620
                </div>
                <div class="Footer-Section-Text">
                    KRS 0000897972
                </div>

                <div class="Footer-Section-Text">
                    Kapitał zakładowy 100 000,00 zł
                </div>
            </div>

            <div class="Footer-Section">
                <div class="Footer-Section-Title">
                    Kontakt | 8.00-20.00 Pon.-Pt.
                </div>




                <div class="Footer-Section-Text">
                    <img src="~/images/Mail-bone.svg" style="height:16px; width:16px; opacity: 0.8;" alt="Mail" />
                    biuro@pricesafari.pl
                </div>
                <div class="Footer-Section-Text">
                    <img src="~/images/Phone-bone.svg" style="height:16px; width:16px; opacity: 0.8;" alt="Telefon" />
                    514 188 340
                </div>


            </div>
        </div>
    </div>

</div>