<div class="Nav-Bar">
    <div class="Nav-Bar-Scal">

        <div class="Nav-Bar-Scal-Box">
            <div class="Nav-Bar-Logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" style="cursor: pointer; height:24px;">
                </a>
            </div>
        </div>

        <div class="Nav-Bar-Hamburger" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="Nav-Bar-Menu">
            <ul class="Nav-Bar-Menu-List">

                <li class="Nav-Bar-Menu-Item">
                    <a href="#" class="Nav-Bar-Menu-Link">Narzędzie</a>
                    <ul class="Nav-Bar-Submenu">

                        <li class="Submenu-text">
                            <a href="/Home/PriceMonitoring">
                                Monitoring cen w Polsce
                                <div class="Submenu-desc">
                                    Monitoruj ceny konkurentów, zwiększaj sprzedaż i maksymalizuj zyski.
                                </div>
                            </a>

                        </li>

                        <li class="Submenu-text">
                            <a href="/Home/PriceRaports">
                                Raporty cenowe w Europie
                                <div class="Submenu-desc">
                                    Znajdź najniższe ceny produktów z Twojej oferty w całej Europie.
                                </div>
                            </a>

                        </li>

                    </ul>
                </li>

                <li class="Nav-Bar-Menu-Item">
                    <a href="#" class="Nav-Bar-Menu-Link">Dlaczego PriceSafari</a>
                    <ul class="Nav-Bar-Submenu">
                          <li class="Submenu-text">
                            <a href="/Home/AboutUs">
                                O Nas
                                <div class="Submenu-desc">
                                    Poznaj nasze zespół i wartości jakimi się kieruje.
                                </div>
                            </a>
                          </li>
                        <li class="Submenu-text">
                            <a href="/Home/WhyPriceSafari">
                                Dlaczego PriceSafari?
                                <div class="Submenu-desc">
                                    Nasze przewagi technologiczne i indywidualne podejście.
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                </li>

                <li class="Nav-Bar-Menu-Item">
                    <a href="#" class="Nav-Bar-Menu-Link">Cennik</a>
                    <ul class="Nav-Bar-Submenu">
                        <li class="Submenu-text">
                            <a href="/Home/Pricing">
                                Cennik
                                <div class="Submenu-desc">
                                    Podstawowe plany monitoringu cen w Polsce.
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="Nav-Bar-Menu-Item">
                    <a href="#" class="Nav-Bar-Menu-Link">FAQ</a>
                    <ul class="Nav-Bar-Submenu">
                        <li class="Submenu-text">
                            <a href="/Home/FAQ">
                                FAQ
                                <div class="Submenu-desc">
                                    Pełna lista najczęściej zadawanych pytań.
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

              
               
               
            </ul>
        </div>

        <div class="Nav-Bar-Scal-Box nav-buttons">
            <a href="/Home/Contact" class="Nav-Bar-Button-Contact">Kontakt</a>
            <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>
        </div>
    </div>
</div>

<div class="overlay-desktop"></div>

<div class="Main-home">

</div>

<div class="overlay-mobile"></div>

<div id="mobile-menu" class="Mobile-Menu">
    <ul class="Mobile-Menu-List">
        <!-- Narzędzie -->
        <li class="Mobile-Menu-Item">
            <a href="#" class="Mobile-Menu-Link" onclick="toggleSubmenu(event, 'submenu-narzedzie')">Narzędzie</a>
            <ul id="submenu-narzedzie" class="Mobile-Submenu">
                <li>
                    <a href="/Home/PriceMonitoring">
                        Monitoring cen w Polsce
                        <div class="Mobile-Submenu-Desc">
                            Monitoruj ceny konkurentów, zwiększaj sprzedaż i maksymalizuj zyski.
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Home/PriceRaports">
                        Raporty cenowe w Europie
                        <div class="Mobile-Submenu-Desc">
                            Znajdź najniższe ceny produktów z Twojej oferty w całej Europie.
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Dlaczego PriceSafari -->
        <li class="Mobile-Menu-Item">
            <a href="#" class="Mobile-Menu-Link" onclick="toggleSubmenu(event, 'submenu-dlaczego')">Dlaczego PriceSafari</a>
            <ul id="submenu-dlaczego" class="Mobile-Submenu">
                <li>
                    <a href="/Home/AboutUs">
                        O Nas
                        <div class="Mobile-Submenu-Desc">
                            Poznaj nasze zespół i wartości jakimi się kieruje.
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/Home/WhyPriceSafari">
                        Dlaczego PriceSafari?
                        <div class="Mobile-Submenu-Desc">
                            Nasze przewagi technologiczne i indywidualne podejście.
                        </div>
                    </a>
                </li>
               
            </ul>
        </li>


        <li class="Mobile-Menu-Item">
            <a href="#" class="Mobile-Menu-Link" onclick="toggleSubmenu(event, 'submenu-cennik')">Cennik</a>
            <ul id="submenu-cennik" class="Mobile-Submenu">

                <li>
                    <a href="/Home/Pricing">
                        Cennik
                        <div class="Mobile-Submenu-Desc">
                            Podstawowe plany monitoringu cen w Polsce.
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="Mobile-Menu-Item">
            <a href="#" class="Mobile-Menu-Link" onclick="toggleSubmenu(event, 'submenu-faq')">FAQ</a>
            <ul id="submenu-faq" class="Mobile-Submenu">

                <li>
                    <a href="/Home/FAQ">
                        FAQ
                        <div class="Mobile-Submenu-Desc">
                            Pełna lista najczęściej zadawanych pytań.
                        </div>
                    </a>
                </li>
            </ul>
        </li>



     
        <!-- Pozostałe elementy menu -->
    </ul>
    <div class="Mobile-bottom">
        <a href="/Home/Contact" class="Mobile-contact">Kontakt</a>
        <a href="/Identity/Account/Login" class="Mobile-login">Panel</a>
    </div>
</div>



<script>
    function toggleMobileMenu() {
        var mobileMenu = document.getElementById('mobile-menu');
        var overlayMobile = document.querySelector('.overlay-mobile');
        var hamburgerIcon = document.querySelector('.Nav-Bar-Hamburger');

        mobileMenu.classList.toggle('open');
        overlayMobile.classList.toggle('visible');
        hamburgerIcon.classList.toggle('open');
    }

    document.querySelector('.overlay-mobile').addEventListener('click', function () {
        toggleMobileMenu();
    });

    function toggleSubmenu(event, submenuId) {
        event.preventDefault();
        var submenu = document.getElementById(submenuId);
        var link = event.currentTarget;
        var parentItem = link.parentElement;

        // Check if the submenu is currently open
        var isSubmenuOpen = submenu.classList.contains('open');

        // Close all submenus and remove 'active' class from all items
        var allSubmenus = document.querySelectorAll('.Mobile-Submenu');
        var allLinks = document.querySelectorAll('.Mobile-Menu-Link');
        var allItems = document.querySelectorAll('.Mobile-Menu-Item');

        allSubmenus.forEach(function (item) {
            item.classList.remove('open');
        });

        allLinks.forEach(function (item) {
            item.classList.remove('open');
        });

        allItems.forEach(function (item) {
            item.classList.remove('active');
        });

        if (!isSubmenuOpen) {
            // If the submenu was not open, open it and mark the item as active
            submenu.classList.add('open');
            link.classList.add('open');
            parentItem.classList.add('active');
        }
        // If the submenu was open, we've already closed it and removed 'active'
    }


    // Zamknij menu po kliknięciu w link w podmenu
    var mobileSubmenuLinks = document.querySelectorAll('.Mobile-Submenu a');
    mobileSubmenuLinks.forEach(function (link) {
        link.addEventListener('click', function () {
            toggleMobileMenu();
        });
    });

</script>