<!-- Górne menu nawigacyjne -->
<div class="Nav-Bar">
    <div class="Nav-Bar-Scal">
        <!-- Logo -->
        <div class="Nav-Bar-Scal-Box">
            <div class="Nav-Bar-Logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" style="cursor: pointer; height:24px;">
                </a>
            </div>
        </div>
        <!-- Elementy menu -->
        <div class="Nav-Bar-Menu">
            <ul class="Nav-Bar-Menu-List">
                <!-- Narzędzie -->
                <li class="Nav-Bar-Menu-Item">
                    <a href="#" class="Nav-Bar-Menu-Link">Narzędzie</a>
                    <ul class="Nav-Bar-Submenu">

                        <div class="Submenu-text">
                            <a href="/Home/PriceMonitoring">Monitoring cen w Polsce
                                <div class="Submenu-desc">
                                    Monitoruj ceny konkurentów, zwiększaj sprzedaż i maksymalizuj zyski.
                                </div>
                            </a>
                           
                        </div>


                        <div class="Submenu-text">
                            <a href="/Home/PriceRaports">
                                Raporty cenowe w Europie
                                <div class="Submenu-desc">
                                    Znajdź najniższe ceny produktów z Twojej oferty w całej Europie.
                                </div>
                            </a>

                        </div>

                    </ul>
                </li>
                <!-- Dlaczego PriceSafari -->
                <li class="Nav-Bar-Menu-Item">
                    <a href="#" class="Nav-Bar-Menu-Link">Dlaczego PriceSafari</a>
                    <ul class="Nav-Bar-Submenu">
                        <li><a href="/Home/AboutUs">O nas</a></li>
                        <li><a href="/Home/WhyPriceSafari">Dlaczego PriceSafari</a></li>
                    </ul>
                </li>
                <!-- Cennik -->
                <li class="Nav-Bar-Menu-Item">
                    <a href="/Home/Pricing" class="Nav-Bar-Menu-Link">Cennik</a>
                </li>
                <!-- FAQ -->
                <li class="Nav-Bar-Menu-Item">
                    <a href="/Home/FAQ" class="Nav-Bar-Menu-Link">FAQ</a>
                </li>
            </ul>
        </div>
        <!-- Przyciski Kontakt i Panel -->
        <div class="Nav-Bar-Scal-Box nav-buttons">
            <a href="/Home/Contact" class="Nav-Bar-Button-Contact">Kontakt</a>
            <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>
        </div>
    </div>
</div>

<!-- Reszta strony -->
<div class="Main-home">
    <!-- Twoja zawartość strony -->
</div>

<!-- Overlay do przyciemnienia i rozmycia strony -->
<div class="overlay"></div>
