

<div class="Nav-Bar">
    <div class="Nav-Bar-Scal">
        <div class="Nav-Bar-Scal-Box">
            <div class="Nav-Bar-Logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" style="cursor: pointer; height:24px;">
                </a>
            </div>

        </div>
        <div class="Nav-Bar-Scal-Box nav-buttons">
            <a href="/Home/Contact" class="Nav-Bar-Button-Contact">Kontakt</a>
            <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>

        </div>
    </div>
</div>