<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Price Safari</title>
    <meta name="description" content="Price Safari - Monitoruj ceny produktów i analizuj konkurencję z łatwością. Nasze narzędzie pozwala na szybki wgląd w trendy cenowe, aby wspierać rozwój Twojego e-commerce.">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/icon/icon.png">

    @RenderSection("Styles", required: false)
</head>
<body>

    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
