@model PriceSafari.Models.ClientProfile


@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Dodaj Profil

            </div>

            <partial name="_ContactNavCol" />
        </div>

        <div class="Column-30">

            <form asp-action="Create" id="clientProfileForm" class="Column-Form">
                <div class="form-group">
                    <label for="CeneoProfileUrl" class="control-label">Url Ceneo</label>
                    <input type="url" class="form-control" id="CeneoProfileUrl" name="CeneoProfileUrl" />
                    <small id="urlError" class="form-text text-danger" style="display:none;">Ten klient jest już zapisany</small>
                </div>
                <div class="form-group">
                    <label for="CeneoProfileName" class="control-label">Nazwa Firmy</label>
                    <input type="text" class="form-control" id="CeneoProfileName" name="CeneoProfileName" required />
                </div>
                <div class="form-group">
                    <label for="CeneoProfileEmail" class="control-label">Email</label>
                    <input type="text" class="form-control"  id="CeneoProfileEmail" name="CeneoProfileEmail" required />
                    <small class="form-text text-muted">
                        Jeśli chcesz dodać więcej niż jeden adres email, oddziel je średnikami (pierwszy@mail.com; drugi@mail.com).
                    </small>
                </div>

                <div class="form-group">
                    <label for="CeneoProfileTelephone" class="control-label">Telefon</label>
                    <input type="tel" class="form-control" id="CeneoProfileTelephone" name="CeneoProfileTelephone" required />
                </div>
                <div class="form-group">
                    <label for="CeneoProfileProductCount" class="control-label">Liczba Produktów</label>
                    <input type="number" class="form-control" id="CeneoProfileProductCount" name="CeneoProfileProductCount" />
                </div>
                <button type="submit" class="Button-Add-Small">Zapisz</button>
            </form>



        </div>

    </div>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#CeneoProfileUrl').on('blur', function () {
            var originalUrl = $(this).val().trim();
            var trimmedUrl = originalUrl;

            try {
              
                if (!/^https?:\/\//i.test(originalUrl)) {
                    originalUrl = originalUrl;
                }

                var url = new URL(originalUrl);

                url.hash = '';
                url.search = '';

               
                var pathname = url.pathname.split(';')[0];
                url.pathname = pathname;

              
                trimmedUrl = url.toString();
            } catch (e) {
               
                trimmedUrl = originalUrl;
            }

        
            $(this).val(trimmedUrl);

            
            $.ajax({
                url: '@Url.Action("CheckUrlExists", "ClientProfile")',
                type: 'GET',
                data: { url: trimmedUrl },
                success: function (response) {
                    if (response.exists) {
                        $('#urlError').show();
                        $('button[type="submit"]').prop('disabled', true);
                    } else {
                        $('#urlError').hide();
                        $('button[type="submit"]').prop('disabled', false);
                    }
                }
            });
        });

     
        var inputFields = ['#CeneoProfileName', '#CeneoProfileEmail', '#CeneoProfileTelephone', '#CeneoProfileProductCount'];

        
        inputFields.forEach(function (selector) {
            $(selector).on('blur', function () {
                var trimmedValue = $(this).val().trim();
                $(this).val(trimmedValue);
            });
        });

       
        $('#clientProfileForm').on('submit', function (e) {
            $(this).find('input').each(function () {
                var trimmedValue = $(this).val().trim();
                $(this).val(trimmedValue);
            });
        });
    });


</script>

