@{
    ViewData["Title"] = "Afiliacja myjki.com";
}


    <div class="Main-home">
        <div class="Nav-Bar">
            <div class="Nav-Bar-Scal">
                <div class="Nav-Bar-Scal-Box">
                    <div class="Nav-Bar-Logo">
                        <img src="~/images homepage/Brand-B.svg" alt="Logo myjki.com">
                    </div>
                </div>
                <div class="Nav-Bar-Scal-Box nav-buttons">
                    <a href="/Identity/Account/Login" class="Nav-Bar-Button">Zaloguj się</a>
                    <a href="/Identity/Account/Register" class="Nav-Bar-Button">Dołącz za darmo</a>
                </div>
            </div>
        </div>
        <div class="mobile-bottom-button">
            <a href="/Identity/Account/Register" class="mobile-action-button">Dołącz za darmo</a>
        </div>


        <div class="Nav-Bar-Fotter">
            <div class="Nav-Bar-Scal">
               
                <div class="Nav-Bar-Scal-Box">
                    <div class="Nav-Bar-Logo">
                        <img src="~/images/Heat-Lead-B.png" alt="Logo myjki.com">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/Home/index.min.js"></script>
