@{
    ViewData["Title"] = "Price Safari";
}

<div class="Main-home">
    <div class="Nav-Bar">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="PriceSafari">
                </div>
            </div>
            <div class="Nav-Bar-Scal-Box nav-buttons">
                <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>

            </div>
        </div>
    </div>
    <div class="mobile-bottom-button">
        <a href="/Identity/Account/Register" class="mobile-action-button">Dołącz za darmo</a>
    </div>


    <div class="Vert-Home">
        <div class="Vert-50">
            <div class="Text-Box">
                <h1 class="Text-Box-Title">Monitoring cen konkurencji</h1>



                <div class="Text-Box-Text">
                    <p>
                        Zwiększ swoje zyski, popraw zwrot z inwestycji w reklamy produktowe i bądź na bieżąco z rynkiem dzięki Price Safari – zaawansowanemu narzędziu do monitorowania cen produktów w sklepach internetowych i na platformach sprzedażowych. Śledź konkurencję, dostosowuj ceny na bieżąco i maksymalizuj zyski dzięki precyzyjnym analizom rynku. 
                        
                    </p>

                    <p>
                        Price Safari pozwoli Ci oszczędzać czas, zyskać przewagę nad konkurencją i chronić marżę. To klucz do sukcesu w dynamicznym świecie sprzedaży online.
                    </p>
                </div>

            </div>
            <div class="Horizontal-Box">
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/MoneyOut.svg" alt="Analiza Cen">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Analiza Cen</h2>
                        <p class="Icon-Box-Text-Text">Reaguj natychmiast na zmiany rynkowe, aby maksymalizować zyski.</p>
                    </div>
                </div>
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Chart.svg" alt="Śledzenie Konkurencji">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Śledzenie Konkurencji</h2>
                        <p class="Icon-Box-Text-Text">Monitoruj ceny konkurencji na bieżąco, by zawsze być o krok przed nimi.</p>
                    </div>
                </div>
              
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Click.svg" alt="Szybkie Wdrożenie">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Szybkie Wdrożenie</h2>
                        <p class="Icon-Box-Text-Text">Potrzebujemy tylko nazwy domeny, aby namierzyć konkurencję i ich ceny.</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="Vert-50">
            <img src="~/images homepage/Home-Banner.gif" alt="Price Safari">
        </div>
    </div>
    <div class="Vert-Space-Dark">
        <div class="Vert-List">
            <h2 class="Text-Box-Title" style="margin-bottom:32px; color: #fff;">Jak to działa?</h2>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/1-b.svg" alt="Rejestracja">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Bezpłatna rejestracja</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Zarejestruj się, aby uzyskać dostęp do panelu partnerskiego.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/2-b.svg" alt="Wybierz produkty">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Wybierz produkty</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Wybierz produkty, które chcesz polecić i wygeneruj linki.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/3-b.svg" alt="Dziel się linkami">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Dziel się linkami partnerskimi</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Udostępniaj linki. Wszystkie kliknięcia i zakupy śledź w panelu.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/4-b.svg" alt="Wypłacaj prowizję">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Wypłacaj prowizję</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Zarabiaj za zakupy zrealizowane dzięki Twoim poleceniom.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Vert-Home">
        <div class="Vert-50">
            <div class="Text-Box">
                <h2 class="Text-Box-Title">Wysokie prowizje</h2>
                <div class="Text-Box-Text">
                    <p>
                        Każdy produkt w naszym programie partnerskim posiada określoną prowizję. Jest to dokładna kwota, którą zarobisz, gdy ktoś kupi produkt na podstawie Twojego polecenia.
                    </p>
                    <p>
                        Prowadzimy nasz program partnerski wewnętrznie, co oznacza, że nie jesteśmy częścią żadnej sieci afiliacyjnej. Dzięki eliminacji kosztów pośredników,
                        jesteśmy w stanie oferować naszym partnerom najwyższe możliwe prowizje.
                    </p>
                </div>
            </div>
            <div class="Horizontal-Box">
                <a href="/Identity/Account/Register" class="Home-Join-button">Dołącz za darmo</a>
            </div>
        </div>
        <div class="Vert-50">
            <img src="~/images homepage/Home-Banner-Products.png" alt="Produkty programu partnerskiego myjki.com">
        </div>
    </div>
    <div class="Vert-Home">
        <div class="Vert-50" id="banner-change-target">
            <img src="~/images homepage/Home-Banner-Panel-1.png" class="banner-img" style="display:block;" alt="Panel administracyjny">
            <img src="~/images homepage/Home-Banner-Panel-2.png" class="banner-img" style="display:none;" alt="Generowanie linków">
            <img src="~/images homepage/Home-Banner-Panel-3.png" class="banner-img" style="display:none;" alt="Kampanie reklamowe">
            <div class="button-container">
                <button class="change-banner" data-index="0">Panel administracyjny</button>
                <button class="change-banner" data-index="1">Generowanie linków</button>
                <button class="change-banner" data-index="2">Kampanie reklamowe</button>
            </div>
        </div>
        <div class="Vert-50">
            <div class="Text-Box">
                <h2 class="Text-Box-Title">Intuicyjny panel</h2>
                <div class="Text-Box-Text">
                    <p>
                        Nasz przejrzysty i intuicyjny panel zarządzania jest dostępny do Twojej dyspozycji, aby umożliwić Ci analizę wyników Twoich kampanii w czasie rzeczywistym i pomóc maksymalizować sprzedaż.
                    </p>
                    <p>
                        Teraz możesz generować wiele linków afiliacyjnych jednocześnie z niebywałą łatwością. Wystarczy, że dodasz do generatora wybrane produkty, nazwiesz swoją kampanię, i gotowe – zaledwie
                        jednym kliknięciem stworzysz linki do produktów, które chcesz promować.
                    </p>
                    <p>
                        Jeżeli prowadzisz kampanie zarówno na swoim blogu, jak i na kanale YouTube, i zastanawiasz się, które z tych miejsc generuje więcej kliknięć oraz lepszą konwersję, mamy dla Ciebie rozwiązanie.
                        Stwórz dwie identyczne kampanie, umieść je w różnych miejscach i
                        porównuj wyniki. Dzięki temu łatwo zidentyfikujesz, które działania marketingowe przynoszą najlepsze efekty i zoptymalizujesz swoje strategie promocyjne, aby osiągnąć jeszcze lepsze wyniki.
                    </p>
                </div>
                <div class="Horizontal-Box">
                    <a href="/Identity/Account/Register" class="Home-Join-button">Dołącz za darmo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="Vert-Home">
        <div class="Vert-50-List">
            <h2 class="Text-Box-Title" style="margin-bottom:32px;">Najczęściej zadawane pytania</h2>
            <div class="List-Box-Q" onclick="toggleAnswer(this)">
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title">Kto może dołączyć do programu partnerskiego?</h3>
                    <div class="List-Box-Text-Text-Q" style="display: none;">
                        <p>
                            Nasz program partnerski jest otwarty dla wszystkich, którzy chcą dzielić się z innymi informacjami o atrakcyjnych produktach z naszej oferty.
                            Dołączyć mogą osoby prowadzące blogi, kanały na YouTube, profile na mediach społecznościowych, a także każdy, kto po prostu lubi polecać dobre produkty.
                        </p>
                        <p>
                            Program jest dostępny dla
                            każdej pełnoletniej osoby, posiadającej numer PESEL i rozliczającej się podatkowo w Polsce,
                            jak również dla firm z siedzibą w Polsce lub w innym kraju Unii Europejskiej.
                        </p>
                    </div>
                </div>
            </div>
            <div class="List-Box-Q" onclick="toggleAnswer(this)">
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title">Czy rejestracja w programie jest bezpłatna?</h3>
                    <div class="List-Box-Text-Text-Q" style="display: none;">
                        <p>Tak. Rejestracja, udział w programie oraz ewentualne usunięcie konta są całkowicie bezpłatne. To my wynagradzamy Ciebie za skutecznie zrealizowane kampanie.</p>
                    </div>
                </div>
            </div>
            <div class="List-Box-Q" onclick="toggleAnswer(this)">
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title">Jak działa system naliczania prowizji?</h3>
                    <div class="List-Box-Text-Text-Q" style="display: none;">
                        <p>
                            Jako zalogowany użytkownik otrzymasz dostęp do panelu administracyjnego programu partnerskiego, gdzie możesz generować linki do promowanych produktów. Dla każdego produktu ustalona jest konkretna prowizja.
                            Jeśli ktoś kliknie w Twój link afiliacyjny i zamówi jeden z promowanych produktów w ciągu 7 dni, naliczona zostanie Ci prowizja zgodnie z ustalonymi stawkami.
                        </p>
                    </div>
                </div>
            </div>
            <div class="List-Box-Q" onclick="toggleAnswer(this)">
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title">Co jeżeli ktoś kupi inny produkt niż ten, który polecam?</h3>
                    <div class="List-Box-Text-Text-Q" style="display: none;">
                        <p>Jeśli polecasz produkt A, a ktoś kupi produkt B, który również należy do grupy promowanych produktów, otrzymasz 100% prowizji za produkt B.</p>
                    </div>
                </div>
            </div>
            <div class="List-Box-Q" onclick="toggleAnswer(this)">
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title">Gdzie i jak mam promować produkty?</h3>
                    <div class="List-Box-Text-Text-Q" style="display: none;">
                        <p>Przykład 1 - Blogowanie</p>
                        <p>
                            Jesteś autorem bloga związanego z naszą branżą? Wykorzystaj swoją platformę do tworzenia angażujących treści, takich jak "TOP 5 myjek ciśnieniowych do 1000 zł".
                            Takie poradniki nie tylko wzbogacą twój blog o wartościowy content, ale dzięki umieszczonym
                            linkom afiliacyjnym, każdy zakup dokonany przez twoich czytelników przyniesie ci prowizję. Jest to efektywny sposób na połączenie pasji do
                            tworzenia treści z możliwością dodatkowego zarobku.
                        </p>
                        <p>Przykład 2 - Samopromocja</p>
                        <p>
                            Czy zajmujesz się zaopatrzeniem i regularnie kupujesz produkty związane z naszą ofertą? Polecając produkty „sobie” i dokonując zakupów przez swoje linki afiliacyjne, zyskujesz na każdej transakcji.
                            Działa to jak system cashback, ale to ty otrzymujesz prowizje. To inteligentny sposób na maksymalizację korzyści z każdego zakupu.
                        </p>
                        <p>Przykład 3 - Rekomendacje w Internecie i poza nim</p>
                        <p>
                            Cenisz sobie dzielenie się opiniami o produktach online lub w bezpośrednich rozmowach z bliskimi? Wykorzystaj ten potencjał, rekomendując sprawdzone markowe produkty z naszej oferty za pomocą swoich linków
                            afiliacyjnych. Takie działania nie tylko pomagają innym w podjęciu trafnej decyzji zakupowej, ale także każde zrealizowane zamówienia na podstawie twojej rekomendacji przekłada się na twoją prowizję.
                        </p>
                    </div>
                </div>
            </div>
            <div class="List-Box-Q" onclick="toggleAnswer(this)">
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title">Jak wypłacić zgromadzoną prowizję? Czy są jakieś limity?</h3>
                    <div class="List-Box-Text-Text-Q" style="display: none;">
                        <p>
                            Aby wypłacić prowizję, należy zgromadzić co najmniej 100 zł. Górnej granicy wypłaty nie ma, co oznacza, że możesz wypłacić dowolną kwotę przekraczającą minimalny próg. Wypłate zlecasz w formularzu dostępnym w panelu
                            administracyjnym programu partnerskiego.
                            Po zatwierdzeniu wniosku, przekazanie środków na wskazane konto bankowe następuje zazwyczaj w ciągu 48 godzin.
                        </p>
                        <p>
                            Nasza polityka umożliwia zlecenie jednej wypłaty środków w cyklu miesięcznym, co zapewnia regularny dostęp do Twoich zarobków oraz ułatwia zarządzanie finansami związanymi z uczestnictwem w programie.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Vert-50-List">
            <div class="List-Box-Text">
                <h2 class="Text-Box-Title">Masz więcej pytań?</h2>
                <p class="List-Box-Text-Text">W regulaminie naszego programu partnerskiego znajdziesz wyczerpujące odpowiedzi oraz dokładnie opisane zasady, według których funkcjonuje nasz program.</p>
            </div>
            <a href="/pdf/Regulamin.pdf" class="Nav-Bar-Button">Regulamin</a>
            <div class="List-Box-Text">
                <h2 class="Text-Box-Title">Kontakt</h2>
                <p class="List-Box-Text-Text">Jeżeli masz jakiekolwiek dodatkowe pytania lub wątpliwości, nie wahaj się skontaktować z nami. Jesteśmy tutaj, aby Ci pomóc i dostarczyć wszelkich potrzebnych informacji.</p>
            </div>
            <div class="List-Box-Text-Text">
                <div class="Mini-Icon"><img src="~/images/Mail-b.svg" alt="E-mail">@Model.Email</div>
                <div class="Mini-Icon"><img src="~/images/Phone-b.svg" alt="Telefon">@Model.PhoneNumber</div>
            </div>
        </div>
    </div>
    <div class="Nav-Bar-Fotter">
        <div class="Nav-Bar-Scal">

            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="Price Safari">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Home/index.min.js"></script>
