@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-page">
    <div class="partner-banner">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/images/Home-Banner-L.png">
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>


        <div class="login-box">

            <div class="login-box-head">
                <div class="login-box-title">Zmiana E-mail</div>
                <div class="Main-Text">
                    Twój E-mail został pomyślnie zaktualizowany.
                </div>
                <a href="/Identity/Account/Login" class="Main-button">Logowanie</a>
            </div>


        </div>



        <div class="price-safari"><img src="~/images/PriceSafari.png" alt="PriceSafari" /></div>

    </div>
</div>
