@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HideHeaderFooter = true;
}




<div class="main-page">
    <div class="partner-banner">
        <a href="https://pricesafari.pl/">
            <img src="~/images/Home-Banner-L.png">
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>


        <div class="login-box">

            <div class="login-box-head">
                <div class="login-box-title">Zmiana E-mail</div>
                <div class="Main-Text">
                    Twój E-mail został pomyślnie zaktualizowany.
                </div>
                <a href="/Identity/Account/Login" class="Main-button" >Logowanie</a>
            </div>


        </div>





        <a href="https://pricesafari.pl/">
            <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" class="price-safari" sstyle="cursor: pointer; ">
        </a>

    </div>
</div>
