@page
@model ConfirmEmailModel

@{
    ViewData["Title"] = "Potwierdzenie e-maila";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HideHeaderFooter = true;
}

<div class="main-page">
    <div class="partner-banner">
        <a href="https://pricesafari.pl/">
            <img src="~/images/Home-Banner-L.png">
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>

        <div class="login-box">

            <div class="login-box-head">
                <div class="login-box-title">E-mail potwierdzony</div>
                <div class="Main-Text">
                    @if (Model.StatusMessage.Contains("Twoje konto jest już gotowe"))
                    {
                        <p>@Model.StatusMessage</p>
                        <a href="/Identity/Account/Login" class="Main-button">Logowanie</a>
                    }
                    else
                    {
                        <p>@Model.StatusMessage</p>
                    }
                </div>
            </div>

        </div>



        <a href="https://pricesafari.pl/">
            <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" class="price-safari" sstyle="cursor: pointer; ">
        </a>
    </div>
</div>
