@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page">
    <div class="partner-banner">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/images/Home-Banner-L.png">
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>

        <div class="login-box">

            <div class="login-box-head">
                <div class="login-box-title">Zmiana hasła</div>
                <div class="Main-Text">
                    Wiadomość została wysłana na podany adres e-mail. Prosimy o postępowanie zgodnie z instrukcjami zawartymi w wiadomości, aby zakończyć proces zmiany hasła.
                </div>
            </div>

        </div>

        <div class="price-safari"><img src="~/images/PriceSafari.png" alt="PriceSafari" /></div>

    </div>
</div>
