@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-page">
    <div class="partner-banner">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/images/Home-Banner-L.png">
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>

        
        <form method="post" class="login-box">




            <div class="login-box-head">
                <div class="login-box-title">Zapomniałeś hasła?</div>
                <div class="Main-Text">
                    Prosimy o podanie adresu e-mail, który jest powiązany z Państwa kontem. Na podany adres wyślemy wiadomość zawierającą instrukcje dotyczące zmiany hasła do logowania.
                </div>
            </div>
           
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <button type="submit" class="Main-button">Resetuj hasło</button>
        </form>




        <a href="@Url.Action("Index", "Home")">
            <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" class="price-safari" sstyle="cursor: pointer; ">
        </a>

    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

