@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewBag.HideHeaderFooter = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page">
    <partial name="_PartnerBanner" />
    <div class="login">
        <div class="heat-lead"></div>

        <div class="login-box">

            <div class="login-box-head">
                <div class="login-box-title">Zmiana hasła</div>
                <div class="Main-Text">
                    Wiadomość została wysłana na podany adres e-mail. Prosimy o postępowanie zgodnie z instrukcjami zawartymi w wiadomości, aby zakończyć proces zmiany hasła.
                </div>
            </div>

        </div>



        <a href="https://pricesafari.pl/">
            <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" class="price-safari" sstyle="cursor: pointer; ">
        </a>

    </div>
</div>
