@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-page">
    <div class="partner-banner">
        <a href="@Url.Action("Index", "Home")">       
            <img  src="~/images/Home-Banner-L.png">
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>

      



        <div class="login-box">
            <div class="login-box-head">
                <div class="login-box-title">Zmiana hasła</div>
                <div class="Main-Text">
                    Twoje hasło zostało pomyślnie zaktualizowane.
                </div>
            </div>

            <a href="/Identity/Account/Login" class="Main-button">Logowanie</a>
        </div>




        <a href="@Url.Action("Index", "Home")">
            <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" class="price-safari" sstyle="cursor: pointer; ">
        </a>

    </div>
</div>

