@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-page">
    <div class="partner-banner">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/images/Banner.gif" alt="Home" class="menu-icon" />
        </a>
    </div>
    <div class="login">
        <div class="heat-lead"></div>


        <div class="login-box">
            <div class="Main-Title">Zmiana hasła</div>

            <div class="Main-Text">

                Twoje hasło zostało pomyślnie zaktualizowane.
            </div>

            <a href="/Identity/Account/Login" class="Main-button">Logowanie</a>
        </div>



        <div class="price-safari"><img src="~/images/PriceSafari.png" alt="PriceSafari" /></div>

    </div>
</div>
