@model List<PriceTracker.Models.ManagerViewModels.UserStoresViewModel>

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Assigned Stores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Stores</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>
                    @foreach (var store in user.Stores)
                    {
                        <span>@store.StoreName</span>

                        <br />
                    }
                </td>
                <td>
                    <a asp-action="AssignStores" asp-route-userId="@user.UserId" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
