@model Heat_Lead.Models.ManagerViewModels.ManagerPanelViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Vert">
    <div class="Date">

        <div class="Select-Line">

            <button type="button" class="dateShortcut" data-range="today">Dziś</button>
            <button type="button" class="dateShortcut" data-range="yesterday">Wczoraj</button>
            <button type="button" class="dateShortcut" data-range="this-week">Bieżący tydzień</button>
            <button type="button" class="dateShortcut" data-range="last-week">Poprzedni tydzień</button>
            <button type="button" class="dateShortcut selected" data-range="this-month">Bieżący miesiąc</button>

        </div>
        <form method="post" id="dateRangeForm">

            <div class="dateSelect-box">

                <input type="date" class="dateSelect" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" min="2024-01-01" max="2030-12-31" />

            </div>

            <div class="dateSelect-box">

                <input type="date" class="dateSelect" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" min="2024-01-01" max="2030-12-31" />
            </div>

        </form>

    </div>
</div>





<div class="Vert">
    <div class="Multi-Cover-Statistic-a">
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">

                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value" style="color: #4E4E4E;">
                        @Model.TotalAffiliates
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Affilianci</div>
                </div>

                <img src="~/images/Affiliate-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Oczekujący Affilianci
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    @Model.PendingAffiliates

                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Aktywni Affilianci
                </div>
                <div class="Statistics-box-mini-data" id="userCountDisplay" style="color: #4E4E4E;">
                    0 Online

                </div>
            </div>

        </div>
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">

                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value"
                         id="totalClicks" style="color: #4E4E4E;">
                        0
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Wejścia na stronę</div>
                </div>

                <img src="~/images/Click-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Wygenerowane linki
                </div>
                <div class="Statistics-box-mini-data"
                     id="totalLinks" style="color: #4E4E4E;">
                    0
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    EPC
                </div>
                <div class="Statistics-box-mini-data" id="EPC" style="color: #4E4E4E;">
                    0
                </div>
            </div>

        </div>
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">

                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value"
                         id="totalOrders" style="color: #4E4E4E;">
                        0
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Zamówienia</div>

                </div>

                <img src="~/images/Basket-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Średni koszyk
                </div>
                <div class="Statistics-box-mini-data" id="avrSaleValue" style="color: #4E4E4E;">
                    0.00 zł
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Konwersja
                </div>
                <div class="Statistics-box-mini-data" id="ordersToClicksRatio" style="color: #4E4E4E;">
                    0.00 %
                </div>
            </div>
        </div>
        <div class="Cover-Statistic">
            <div class="Statistics-box" style="background: #fff">
                <div class="Statistics-box-data">
                    <div class="Statistics-box-data-value" style="color: #4E4E4E;"
                         id="totalSales" style="color: #4E4E4E;">
                        0.00 zł
                    </div>
                    <div class="Statistics-box-data-name" style="color: #4E4E4E;">Wartość zamówień</div>
                </div>

                <img src="~/images/OrderValue-b.svg" alt="Panel Icon" class="Statistics-box-icon" />
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Koszty
                </div>
                <div class="Statistics-box-mini-data" id="totalEarnings" style="color: #4E4E4E;">
                    0.00 zł
                </div>
            </div>
            <div class="Statistics-box-mini" style="background: #fff">
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;">
                    Prowizja
                </div>
                <div class="Statistics-box-mini-data" style="color: #4E4E4E;" id="costToSalesRatio">
                    0.00 %
                </div>
            </div>
        </div>
    </div>

</div>


<div class="Vert">
    <div class="Charts-Bar-a">
        <div class="Select-Line">

            <button type="button" class="agregationShortcut selected" id="showClicksChart">Ruch</button>
            <button type="button" class="agregationShortcut" id="showOrdersChart">Zamówienia</button>
            <button type="button" class="agregationShortcut" id="showSalesChart">Sprzedaż</button>
            <button type="button" class="agregationShortcut" id="showEarningsChart">Prowizja</button>

        </div>
        <div class="Charts-Box-Bar-a">

            <canvas id="clicksChart"></canvas>
            <canvas id="earningsChart" style="display: none;"></canvas>
            <canvas id="ordersChart" style="display: none;"></canvas>
            <canvas id="salesChart" style="display: none;"></canvas>
        </div>
    </div>

    <div class="Charts-Donought-a">

        <div class="Charts-Box-Donought-a">
            <div class="Select-Line">

                <button type="button" class="categoryShortcut selected" id="showcategoryClicksChart">Kliknięcia</button>
                <button type="button" class="categoryShortcut" id="showcategoryOrdersChart">Zamowienia</button>
                <button type="button" class="categoryShortcut" id="showcategoryEarningsChart">Sprzedaż</button>

            </div>
            <canvas id="categoryClicksChart"></canvas>
            <canvas id="categoryEarningsChart" style="display: none;"></canvas>
            <canvas id="categoryOrdersChart" style="display: none;"></canvas>
        </div>
        <div class="Charts-Box-Donought-a-t">
            <table class="table-clicks" id="tableCategoryClicksChart">
                <thead>
                    <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Kliki</th>

                    </tr>
                </thead>
                <tbody id="categoryTableBody">
                </tbody>

            </table>
            <table class="table-earnings" id="tableCategoryEarningsChart" style="display: none;">
                <thead>
                    <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Sprzedaż</th>

                    </tr>
                </thead>
                <tbody id="earningsTableBody">
                </tbody>

            </table>
            <table class="table-category-orders" id="tableCategoryOrdersChart" style="display: none;">
                <thead>
                    <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Zamowienia</th>

                    </tr>
                </thead>
                <tbody id="ordersTableBody">
                </tbody>

            </table>

        </div>

    </div>

</div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="/js/Manager/managerpanel.min.js"></script>