<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Program Partnerski dla Zarabiających Online</title>
    <meta name="description" content="Dołącz do programu partnerskiego myjki.com i zarabiaj na polecaniu myjek ciśnieniowych. Wyższe prowizje, szybka rejestracja i intuicyjny panel zarządzania.">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="~/css/login.min.css" rel="stylesheet" />
    <link href="~/css/home.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="~/icon/icon.png">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
