@model PriceSafari.Models.Region
<h1>Edit Region</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="RegionId" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Currency">Currency</label>
        <input type="text" class="form-control" asp-for="Currency" />
        <span asp-validation-for="Currency" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CurrencyValue">Currency Value</label>
        <input type="number" class="form-control" asp-for="CurrencyValue" step="0.0001" />
        <span asp-validation-for="CurrencyValue" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

