@{
    ViewData["Title"] = "Dodaj Nowy Sklep";
}


@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Dodaj Nowy Sklep</h2>

<form asp-action="CreateStore" method="post">
    <div class="form-group">
        <label for="storeName">Nazwa Sklepu</label>
        <input type="text" class="form-control" id="storeName" name="storeName" required>
    </div>
    <div class="form-group">
        <label for="storeProfile">Profil Sklepu</label>
        <input type="text" class="form-control" id="storeProfile" name="storeProfile" required>
    </div>
    
   
    <div class="form-group">
        <label for="productPack">Ilość wykupionych produktów</label>
        <input type="number" class="form-control" id="productPack" name="productPack">
    </div>


    <div class="form-group">
        <label for="logoUrl">Logo URL</label>
        <input type="url" class="form-control" id="logoUrl" name="logoUrl">
    </div>

    
    <div class="form-group">
        <label for="apiUrl">Api Url</label>
        <input type="text" class="form-control" id="apiUrl" name="apiUrl">
    </div>
    <div class="form-group">
        <label for="apiUrl">Klucz Api</label>
        <input type="text" class="form-control" id="apiKey" name="apiKey">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj Sklep</button>
</form>
