@model PriceSafari.Models.StoreClass

@{
    ViewData["Title"] = "Edytuj Sklep";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Edytuj Sklep</h2>

<form asp-action="EditStore" method="post">
    <input type="hidden" asp-for="StoreId" />

    <div class="form-group">
        <label asp-for="StoreName"></label>
        <input asp-for="StoreName" class="form-control" />
        <span asp-validation-for="StoreName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StoreProfile"></label>
        <input asp-for="StoreProfile" class="form-control" />
        <span asp-validation-for="StoreProfile" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StoreApiUrl"></label>
        <input asp-for="StoreApiUrl" class="form-control" />
        <span asp-validation-for="StoreApiUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StoreApiKey"></label>
        <input asp-for="StoreApiKey" class="form-control" />
        <span asp-validation-for="StoreApiKey" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StoreLogoUrl"></label>
        <input asp-for="StoreLogoUrl" class="form-control" />
        <span asp-validation-for="StoreLogoUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductMapXmlUrl"></label>
        <input asp-for="ProductMapXmlUrl" class="form-control" />
        <span asp-validation-for="ProductMapXmlUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductMapXmlUrlGoogle"></label>
        <input asp-for="ProductMapXmlUrlGoogle" class="form-control" />
        <span asp-validation-for="ProductMapXmlUrlGoogle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductsToScrap"></label>
        <input asp-for="ProductsToScrap" class="form-control" type="number" />
        <span asp-validation-for="ProductsToScrap" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AutoMatching"></label>
        <div class="form-check">
            <input asp-for="AutoMatching" class="form-check-input" type="checkbox" />
            <label class="form-check-label" asp-for="AutoMatching"></label>
        </div>
        <span asp-validation-for="AutoMatching" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlanId">Plan</label>
        <select asp-for="PlanId" class="form-control" asp-items="ViewBag.Plans">
            <option value="">-- Wybierz Plan --</option>
        </select>
        <span asp-validation-for="PlanId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiscountPercentage"></label>
        <input asp-for="DiscountPercentage" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
