@model IEnumerable<PriceTracker.Models.CategoryClass>

@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Category URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td><a href="@category.CategoryUrl" target="_blank">@category.CategoryUrl</a></td>
            </tr>
        }
    </tbody>
</table>
