@model Heat_Lead.Models.ManagerViewModels.EditSupervisorViewModel

@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Opiekun programu

            </div>

            <partial name="_ManageNavCol" />
        </div>

        <div class="Column-30">


            <form asp-action="EditSupervisor" class="Column-Form" method="post">


                <div class="form-group">
                    <label asp-for="SupervisorEmail" class="control-label">E-mail opiekuna programu</label>
                    <input asp-for="SupervisorEmail" class="form-control" />
                    <span asp-validation-for="SupervisorEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SupervisorNumber" class="control-label">Telefon opiekuna programu</label>
                    <input asp-for="SupervisorNumber" class="form-control" />
                    <span asp-validation-for="SupervisorNumber" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" role="alert"></div>

                <div class="form-group">
                    <input type="submit" value="Zapisz" class="Button-Add-Small" />
                </div>
            </form>

        </div>

    </div>


</div>