@model Heat_Lead.Models.ManagerViewModels.EditFingerPrintCollectionViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Fingerprint
            </div>
            <partial name="_ManageNavCol" />
        </div>

        <div class="Column-30">
            <form asp-action="EditFingerPrintCollection" class="Column-Form" method="post">
                <div class="form-group">
                    <label asp-for="CollectFingerPrint" class="control-label">Włączyć zbieranie fingerprintów użytkowników?</label>
                    <select asp-for="CollectFingerPrint" class="form-control">
                        <option value="true">Tak</option>
                        <option value="false">Nie</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="Button-Add-Small" />
                </div>
            </form>
        </div>
    </div>
</div>
