@{
    ViewData["Title"] = "Analiza zmian cen – podsumowanie";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<style>
    
    .details-row { 
        display: table-row;
    }

    /* nowy blok, który faktycznie się zwija */
    .details-content {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition:.3s ease, opacity .3s ease;
    }

    /* po rozwinięciu */
    .details-row.open .details-content {
        opacity: 1;
    }

    .details-inner-row {
        display: flex; 
    
        flex-wrap: nowrap;
       
    }

    .table {
        margin-bottom:0px;
    }


    .details-inner-row > .col-md-6 {
        flex: 1 1 0;
        min-width: 0; 
    }

    .inner-table td a {
        display: inline-block;
        max-width: 100%;    
        text-overflow: ellipsis;
    }

</style>

<!-- Przekazujemy do JS tylko STORE_ID i STORE_NAME -->
<script>const STORE_ID = @ViewBag.StoreId;</script>

<div class="Vert">
    <div class="Date">
        <div class="Order-Container-Title">Analiza cen @ViewBag.StoreName</div>
        <div class="Select-Line">
            <button class="dateShortcut" data-count="7">7</button>
            <button class="dateShortcut" data-count="14">14</button>
            <button class="dateShortcut active" data-count="30">30</button>
        </div>
    </div>
</div>

<div class="Vert">
    <div class="Charts-Bar-a" style="max-height:350px;">
        <div class="Charts-Box-Bar-a">
            <canvas id="priceAnaliseChart"></canvas>
        </div>
    </div>
</div>

<div class="Vert">
    <div class="Vert-full">
        <div class="Vert-table">
            <table class="table-price">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Obniżki cen</th>
                        <th>Podwyżki cen</th>
                     
                    </tr>
                </thead>
                <tbody>
                 
                </tbody>
            </table>
        </div>
       
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/member/PriceDashboard.js"></script>


