@model PriceTracker.Models.ManagerViewModels.EditTrackByEanViewModel

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Wiązanie po kodzie Ean
            </div>
            <partial name="_ManageNavCol" />
        </div>

        <div class="Column-30">
            <form asp-action="EditTrackByEan" class="Column-Form" method="post">
                <div class="form-group">
                    <label asp-for="TrackByEan" class="control-label">Wiązać produkty po kodzie Ean z odpowiedzi api?</label>
                    <select asp-for="TrackByEan" class="form-control">
                        <option value="true">Tak</option>
                        <option value="false">Nie</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="Button-Add-Small" />
                </div>
            </form>
        </div>
    </div>
</div>
