@model IEnumerable<PriceTracker.Models.CategoryClass>

@{
    ViewData["Title"] = "Lista Kategorii";
}

@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Lista Kategorii</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Kategorii</th>
            <th>URL Kategorii</th>
            <th>Głębokość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>@category.CategoryUrl</td>
                <td>@category.Depth</td>
            </tr>
        }
    </tbody>
</table>
