@model List<PriceSafari.Models.ManagerViewModels.UserStoresViewModel>

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">
                Kanały
            </div>

            <partial name="_ManageNavCol" />
        </div>
        <div class="Vert-table">
            <table class="table-orders">
                <thead>
                    <tr>
                        <th>Użytkownik</th>
                        <th>Sklep</th>
                        <th>Uprawnienia</th>
                        <th>Działanie</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>
                                @foreach (var store in user.Stores)
                                {
                                    <span>@store.StoreName</span>
                                    <br />
                                }
                            </td>
                            <td>
                                @if (user.AccesToViewSafari)
                                {
                                    <span>View Safari</span>

                                    <br />
                                }
                                @if (user.AccesToCreateSafari)
                                {
                                    <span>Create Safari</span>

                                    <br />
                                }
                                @if (user.AccesToViewMargin)
                                {
                                    <span>View Margin</span>

                                    <br />
                                }
                                @if (user.AccesToSetMargin)
                                {
                                    <span>Set Margin</span>

                                    <br />
                                }
                            </td>
                            <td>
                                <a asp-action="AssignStores" asp-route-userId="@user.UserId" class="Button-Page-Small">Edytuj</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
</div>
