@{
    ViewData["Title"] = "Historia Cen";
    var latestScrap = ViewBag.LatestScrap as PriceTracker.Models.ScrapHistoryClass;
    var storeId = ViewBag.StoreId;
    var categories = ViewBag.Categories;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<style>
    .price-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .price-box {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        width: 100%;
        display: flex;
        gap: 8px;
        cursor: pointer;
        
    }

    .price-box-column {
        display: flex;
        flex-direction:column;
        font-size: 16px;

    }

        .price-box .color-bar {
            width: 10px;
            height: 100%;
        }

        .price-box.blue .color-bar {
            background-color: rgba(14, 126, 135, 0.5);
        }

        .price-box.yellow .color-bar {
            background-color: rgba(240, 240, 105, 0.5);
        }

        .price-box.red .color-bar {
            background-color: rgba(246, 78, 101, 0.5);
        }

        .price-box.green .color-bar {
            background-color: rgba(0, 255, 0, 0.5);
        }



</style>

<div class="Vert">
    <div class="Multi-Cover-Statistic-a">
        <div class="Charts-Donought-a">
            <div class="Order-Container-Title">
                Scrapowanie cen @ViewBag.StoreName
                <div class="form-check-orders">
                    <div>
                        <p><strong>ID Scrapowania:</strong> @latestScrap?.Id</p>
                        <p><strong>Wykonano:</strong> @latestScrap?.Date</p>
                        <p><strong>Zebrane produkty:</strong> <span id="totalProductCount">@ViewBag.ProductCount</span></p>
                        <p><strong>Zebrane ceny:</strong> <span id="totalPriceCount">0</span></p>
                    </div>
                </div>
            </div>
            
            
        </div>
        <div class="Charts-Donought-a">
            <div class="Charts-Box-Donought-a-t">
                <table class="table-clicks" id="colorTable">
                    <thead>
                        <tr>
                            <th scope="col">Cena</th>
                            <th scope="col">Produkty</th>
                        </tr>
                    </thead>
                    <tbody id="colorTableBody">
                    </tbody>
                </table>
            </div>
            <div class="Charts-Box-Donought-a">
                <canvas id="colorChart"></canvas>
            </div>
        </div>
    </div>
    
    <div class="Page-Box">

        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div class="Category-Container-Title">Grupy cenowe</div>
                <div class="store-section">
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="blueCheckbox" value="blue">
                        <label class="form-check-label" for="blueCheckbox">Top cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="yellowCheckbox" value="yellow">
                        <label class="form-check-label" for="yellowCheckbox">Mid cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="redCheckbox" value="red">
                        <label class="form-check-label" for="redCheckbox">Zła cena</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input colorFilter" type="checkbox" id="greenCheckbox" value="green">
                        <label class="form-check-label" for="greenCheckbox">Super cena</label>
                    </div>
                </div>
            </div>




            <div class="Horizontal">
                <div class="order-upper-box">
                    <input type="text" id="productSearch" placeholder="Wyszukaj produkt">
                    <form id="filterForm">
                        <select id="category" name="category" class="DropDown">
                            <option value="">Wszystkie kategorie</option>
                            @foreach (var category in categories)
                            {
                                <option value="@category">@category</option>
                            }
                        </select>

                    </form>
                </div>
                <div id="displayedProductCount"></div>
                <div class="Vert-table">
                    <div id="priceContainer" class="price-container"></div>
                </div>
            </div>
        </div>

       

        

        
            
      
    </div>
</div>

@section Scripts {
    <script>
        var storeId = '@storeId';
    </script>
    <script src="~/js/PriceHistory.js"></script>
}
