@{
    ViewBag.Title = "Ceny produktów dla " + ViewBag.CompetitorStoreName;
    var storeId = ViewBag.StoreId;
    var competitorStoreName = ViewBag.CompetitorStoreName;
    var storeName = ViewBag.StoreName;

    <script>
        var storeId = '@storeId';
        var competitorStoreName = '@competitorStoreName';
        var storeName = '@storeName';
    </script>

}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<style>
    .scrollable-table-container {
        overflow-x: auto;
    }

    .nowrap {
        white-space: nowrap;
        cursor: pointer;
    }

        .nowrap:hover {
            background-color: #ccc;
        }

    .priceBox-style-c  {
        display: flex;
        padding: 4px 0px;
        align-items: center;
        justify-content: flex-start;
        gap:8px;
        height:40PX;
        font-size: 15px;
        font-weight: 400;
        color: #000;
        border-bottom: 0.5px solid #1B3C37;

    }

    .PriceTagBox-c {
        display:flex;
        justify-content: flex-start;

    }

    .PriceTagBox-o {
        display: flex;
        justify-content: flex-end;

    }

    .priceBox-style-o {
        display: flex;
        padding: 4px 0px;
        align-items: center;
        justify-content: flex-end;
        height: 40PX;
        gap: 8px;
        font-size: 15px;
        font-weight: 400;
        color: #000;
        border-bottom: 0.5px solid #1B3C37;
    }

    .no-price {
        color: #777;
        display:flex;
        width:100%;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .priceBox-diff-up {
        display: inline-flex;
        align-self: center;
        padding: 4px 12px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #00917B;
        background: rgba(0, 145, 123, 0.20);
        color: #00917B;
    }

    .priceBox-diff-down {
        display: inline-flex;
        align-self: center;
        padding: 4px 12px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #AB2520;
        background: rgba(171, 37, 32, 0.20);
        color: #AB2520 !important;
    }

    .Price-box-content-c {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 4px;
        width: 300px;

    }

    .Price-box-content-o {
        display: flex;
        flex-direction:column;
        padding: 4px;
        width: 300px;
        gap: 6px;

    }

    .Price-box-content-c-t {
        display: flex;
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .Price-box-content-o-t {
        display: flex;
        padding: 4px;
        justify-content: flex-end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .scrollable-table-container {
        max-height: 79vh;
        overflow-y: auto;
        position: relative;
    }

    .table-orders thead {
        position: sticky;
        top: 0;
        z-index: 1;
     
    }


</style>

<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category" style="padding:0px; min-width:190px; max-width:200px;">
                <div class="Category-Container-Title">Historia cen</div>

                <div class="filterBox" style="padding-left:16px;">

                    <div class="Category-Container-Select">Zmiany</div>
                    <div class="store-section">
                        <div class="filter-category">

                            <div class="form-check">
                                <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="filterIncrease" value="increase">
                                <label class="form-check-label" for="filterIncrease">Podwyżka</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="filterDecrease" value="decrease">
                                <label class="form-check-label" for="filterDecrease">Obniżka</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="filterChange" value="change">
                                <label class="form-check-label" for="filterChange">Zmiana</label>
                            </div>

                        </div>

                    </div>
                    <div>

                        <div class="Category-Container-Select">Data</div>
                        <div class="store-section">
                            <div class="filter-category">

                                <div id="scrapHistoryCheckboxes"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="Horizontal-x">

                <div class="order-upper-box">

                    <div class="price-box-space">
                        <div class="form-check-orders">
                            <div>
                                <p><strong>Sklep: </strong>@competitorStoreName <span></span></p>

                            </div>
                            <div>
                                <strong>Produkty: </strong><span id="scrapable-count"></span>
                            </div>
                        </div>
                        <input type="text" id="productSearch" placeholder="Wyszukaj produkt">
                    </div>

                </div>
                <div class="Vert-table">
                    <div class="scrollable-table-container">
                        <table class="table-orders">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Kanał</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="priceTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

    <script src="~/js/member/competitorprices.js"></script>