@{
    ViewBag.Title = "Ceny produktów dla " + ViewBag.CompetitorStoreName;
    var storeId = ViewBag.StoreId;
    var competitorStoreName = ViewBag.CompetitorStoreName;
    var storeName = ViewBag.StoreName;
}

<h2>Ceny produktów dla @competitorStoreName</h2>

<div>
    <label for="scrapHistorySelect">Wybierz scrapowanie:</label>
    <div id="scrapHistoryCheckboxes">
    </div>
</div>

<div>
    <label>Filtruj zmiany cen:</label>
    <label><input type="checkbox" id="filterIncrease" value="increase"> Podwyżka</label>
    <label><input type="checkbox" id="filterDecrease" value="decrease"> Obniżka</label>
    <label><input type="checkbox" id="filterChange" value="change"> Zmiana</label>
</div>

<style>
    .scrollable-table-container {
        overflow-x: auto;
    }

    .table th, .table td {
        min-width: 250px;
        white-space: nowrap;
    }

    .nowrap {
        white-space: nowrap;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .product-url-button {
        display: inline-block;
        margin-top: 5px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .product-url-button:hover {
            background-color: #0056b3;
        }
</style>

<div class="scrollable-table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Kanał</th>
            </tr>
        </thead>
        <tbody id="priceTableBody">
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            loadScrapHistoryOptions();

            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.addEventListener('change', renderPrices);
            });
        });

        function loadScrapHistoryOptions() {
            fetch(`/Competitors/GetScrapHistoryIds?storeId=${@storeId}`)
                .then(response => response.json())
                .then(scrapHistoryIds => {
                    const container = document.getElementById('scrapHistoryCheckboxes');
                    scrapHistoryIds.forEach(scrap => {
                        const label = document.createElement('label');
                        label.style.display = 'block';
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.value = scrap.id;
                        checkbox.addEventListener('change', () => {
                            if (checkbox.checked) {
                                loadCompetitorPrices([scrap.id]);
                            } else {
                                delete loadedPrices[scrap.id];
                                renderPrices();
                            }
                        });
                        label.appendChild(checkbox);
                        label.appendChild(document.createTextNode(`${new Date(scrap.date).toLocaleString()} (${scrap.id})`));
                        container.appendChild(label);
                    });
                })
                .catch(error => console.error('Error loading scrap history options:', error));
        }

        const loadedPrices = {};

        function loadCompetitorPrices(scrapHistoryIds) {
            scrapHistoryIds.forEach(scrapHistoryId => {
                const requestData = {
                    storeId: @storeId,
                    competitorStoreName: '@competitorStoreName',
                    scrapHistoryId: parseInt(scrapHistoryId)
                };

                fetch('/Competitors/GetCompetitorPrices', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                })
                    .then(response => response.json())
                    .then(data => {
                        loadedPrices[scrapHistoryId] = data;
                        renderPrices();
                    })
                    .catch(error => console.error('Error loading competitor prices:', error));
            });
        }

        function renderPrices() {
            const tableBody = document.getElementById('priceTableBody');
            tableBody.innerHTML = '';

  
            const urlProductMap = {};

            // Mapowanie URL na produkty
            for (const [scrapHistoryId, prices] of Object.entries(loadedPrices)) {
                prices.forEach(price => {
                    if (!urlProductMap[price.offerUrl]) {
                        urlProductMap[price.offerUrl] = { productName: price.productName, data: {}, ourData: {} };
                    }
                    urlProductMap[price.offerUrl].data[scrapHistoryId] = price.price;
                    urlProductMap[price.offerUrl].ourData[scrapHistoryId] = price.ourPrice;
                });
            }

            // Dodaj nagłówki dla scrapHistoryId
            const theadRow = document.querySelector('table thead tr');
            theadRow.innerHTML = `
                      
                        <th>Produkt</th>
                        <th>Kanał</th>
                    `;
            const uniqueScrapHistoryIds = Object.keys(loadedPrices);
            uniqueScrapHistoryIds.forEach(id => {
                const th = document.createElement('th');
                th.textContent = `Cena (${id})`;
                th.style.minWidth = "250px";
                theadRow.appendChild(th);
            });

            // Renderowanie tabeli
            for (const [url, product] of Object.entries(urlProductMap)) {
                const row = document.createElement('tr');
                row.innerHTML = `
                          
                            <td class="nowrap">${product.productName}<br><a href="${url}" target="_blank" class="product-url-button">Ceneo</a></td>
                            <td>
                                <div class="flex-column">
                                    <span>@competitorStoreName</span>
                                    <span>@storeName</span>
                                </div>
                            </td>
                        `;
                let showRow = true;
                let priceChanges = [];
                let hasChange = false;

                uniqueScrapHistoryIds.forEach((id, index) => {
                    const td = document.createElement('td');
                    const currentPrice = product.data[id] ? product.data[id].toFixed(2) : null;
                    let tdContent = currentPrice ? `<p>${currentPrice} PLN` : '<p></p>';

                    if (index > 0 && currentPrice !== null) {
                        const previousId = uniqueScrapHistoryIds[index - 1];
                        const previousPrice = product.data[previousId] ? product.data[previousId] : null;

                        if (previousPrice !== null) {
                            const priceDifference = product.data[id] - previousPrice;
                            const percentageDifference = ((priceDifference / previousPrice) * 100).toFixed(2);

                            if (priceDifference !== 0) {
                                const differenceElement = ` <span style="color: ${priceDifference > 0 ? 'red' : 'green'}; font-weight: bold;">
                                            ${priceDifference.toFixed(2)} PLN (${percentageDifference}%) ${priceDifference > 0 ? '&uarr;' : '&darr;'}
                                        </span>`;
                                tdContent += differenceElement;
                                priceChanges.push({ change: priceDifference > 0 ? 'increase' : 'decrease', priceDifference, percentageDifference });
                                hasChange = true;
                            }
                        }
                    }

                    const ourPrice = product.ourData[id] ? product.ourData[id].toFixed(2) : null;
                    if (ourPrice) {
                        tdContent += `<br>${ourPrice} PLN`;

                        if (index > 0 && ourPrice !== null) {
                            const previousId = uniqueScrapHistoryIds[index - 1];
                            const previousOurPrice = product.ourData[previousId] ? product.ourData[previousId] : null;

                            if (previousOurPrice !== null) {
                                const ourPriceDifference = product.ourData[id] - previousOurPrice;
                                const ourPercentageDifference = ((ourPriceDifference / previousOurPrice) * 100).toFixed(2);

                                if (ourPriceDifference !== 0) {
                                    const ourDifferenceElement = `<span style="color: ${ourPriceDifference > 0 ? 'purple' : 'blue'}; font-weight: bold;">
                                                ${ourPriceDifference.toFixed(2)} PLN (${ourPercentageDifference}%) ${ourPriceDifference > 0 ? '&uarr;' : '&darr;'}
                                            </span>`;
                                    tdContent += ourDifferenceElement;
                                    priceChanges.push({ change: ourPriceDifference > 0 ? 'ourIncrease' : 'ourDecrease', priceDifference: ourPriceDifference, percentageDifference: ourPercentageDifference });
                                    hasChange = true;
                                }
                            }
                        }
                    }

                    tdContent += `</p>`;
                    td.innerHTML = tdContent;
                    td.classList.add('nowrap');
                    row.appendChild(td);
                });

                // Filtruj na podstawie wybranego filtru zmian cen
                const filterIncrease = document.getElementById('filterIncrease').checked;
                const filterDecrease = document.getElementById('filterDecrease').checked;
                const filterChange = document.getElementById('filterChange').checked;

                if (filterIncrease && !priceChanges.some(change => change.change === 'increase')) {
                    showRow = false;
                }
                if (filterDecrease && !priceChanges.some(change === 'decrease')) {
                    showRow = false;
                }
                if (filterChange && !hasChange) {
                    showRow = false;
                }

                if (showRow) {
                    tableBody.appendChild(row);
              
                }
            }
        }
    </script>
}
