@{
    ViewBag.Title = "Ceny produktów dla " + ViewBag.CompetitorStoreName;
    var storeId = ViewBag.StoreId;
    var competitorStoreName = ViewBag.CompetitorStoreName;
    var storeName = ViewBag.StoreName;
}

@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<style>
    .scrollable-table-container {
        overflow-x: auto;
    }

    .nowrap {
        white-space: nowrap;
        cursor: pointer;
    }

        .nowrap:hover {
            background-color: #ccc;
        }

    .priceBox-style-c  {
        display: flex;
        padding: 4px 0px;
        align-items: center;
        justify-content: flex-start;
        gap:8px;
        height:40PX;
        font-size: 15px;
        font-weight: 400;
        color: #000;
        border-bottom: 0.5px solid #004552;
    
    }


    .PriceTagBox-c {
        display:flex;
        justify-content: flex-start;
  
     
    }

    .PriceTagBox-o {
        display: flex;
        justify-content: flex-end;
   
 
    }

    .priceBox-style-o {
        display: flex;
        padding: 4px 0px;
        align-items: center;
        justify-content: flex-end;     
        height: 40PX;
        gap: 8px;
        font-size: 15px;
        font-weight: 400;
        color: #000;
        border-bottom: 0.5px solid #004552;
    }

    .no-price {
        color: #777; /* Lżejszy kolor dla B/D */
        display:flex;
        width:100%;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        gap: 16px; /* Odstęp między boksami */
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }



    .priceBox-diff-up {
        display: inline-flex;
        align-self: center;
        padding: 4px 12px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #FF6347;
        background: rgba(255, 99, 71, 0.20);
        color: #FF6347;
    }

    .priceBox-diff-down {
        display: inline-flex;
        align-self: center;
        padding: 4px 12px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #00C6A2;
        background: rgba(0, 198, 162, 0.20);
        color: #00C6A2 !important;
    }


    .Price-box-content-c {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 4px;
        width: 300px;
  
      
    }

    .Price-box-content-o {
        display: flex;
        flex-direction:column;
        padding: 4px;
        width: 300px;
        gap: 6px;
  
     
    }

    .Price-box-content-c-t {
        display: flex;
        padding: 4px;
        white-space: nowrap; /* Zapobiega zawijaniu tekstu */
        overflow: hidden; /* Ukrywa nadmiarowy tekst */
        text-overflow: ellipsis; /* Dodaje wielokropek, jeśli tekst jest zbyt długi */
    }

    .Price-box-content-o-t {
        display: flex;
        padding: 4px;
        justify-content: flex-end;
        white-space: nowrap; /* Zapobiega zawijaniu tekstu */
        overflow: hidden; /* Ukrywa nadmiarowy tekst */
        text-overflow: ellipsis; /* Dodaje wielokropek, jeśli tekst jest zbyt długi */
    }

</style>


<div class="Vert">
    <div class="Page-Box">
        <div class="Page-Box-Container">
            <div class="Page-Box-Category">
                <div class="Category-Container-Title">Historia cen</div>

                <div class="filterBox">



                    <div class="Category-Container-Select">Zmiany</div>
                    <div class="store-section">
                        <div class="filter-category">

                            <div class="form-check">
                                <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="filterIncrease" value="increase">
                                <label class="form-check-label" for="filterIncrease">Podwyżka</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="filterDecrease" value="decrease">
                                <label class="form-check-label" for="filterDecrease">Obniżka</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input deliveryFilterCompetitor" type="checkbox" id="filterChange" value="change">
                                <label class="form-check-label" for="filterChange">Zmiana</label>
                            </div>

                        </div>

                        <div class="filter-category">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterPriceData1" value="1">
                                <label class="form-check-label" for="filterPriceData1">Tylko nasza cena (PriceData 1)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterPriceData2" value="2">
                                <label class="form-check-label" for="filterPriceData2">Tylko cena konkurencji (PriceData 2)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterPriceData3" value="3">
                                <label class="form-check-label" for="filterPriceData3">Nasza i konkurencji (PriceData 3)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterPriceData0" value="0">
                                <label class="form-check-label" for="filterPriceData0">Brak cen (PriceData 0)</label>
                            </div>
                        </div>

                    </div>
                    <div>

                        <div class="Category-Container-Select">Data</div>
                        <div class="store-section">
                            <div class="filter-category">

                                <div id="scrapHistoryCheckboxes"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="Horizontal-x">

                <div class="order-upper-box">

                    <input type="text" id="productSearch" placeholder="Wyszukaj produkt">

                    <div class="form-check-orders">
                        <div>
                            <p><strong>Sklep: </strong>@competitorStoreName <span></span></p>

                        </div>
                    </div>

                </div>
                <div class="Vert-table">
                    <div class="scrollable-table-container">
                        <table class="table-orders">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Kanał</th>
                                </tr>
                            </thead>
                            <tbody id="priceTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
<script>
        document.addEventListener('DOMContentLoaded', () => {
            loadScrapHistoryOptions();

            // Dodaj event listener dla wszystkich checkboxów, w tym nowych checkboxów dla PriceData
            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.addEventListener('change', renderPrices);
            });

            // Obsługa wyszukiwania produktów
            document.getElementById('productSearch').addEventListener('keyup', function () {
                filterProducts(this.value);
            });
        });

        function loadScrapHistoryOptions() {
            fetch(`/Competitors/GetScrapHistoryIds?storeId=${@storeId}`)
                .then(response => response.json())
                .then(scrapHistoryIds => {
                    const container = document.getElementById('scrapHistoryCheckboxes');
                    scrapHistoryIds.forEach(scrap => {
                        const label = document.createElement('label');
                        label.className = 'form-check-label';
                        label.style.display = 'block';

                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.value = scrap.id;
                        checkbox.dataset.date = scrap.date;
                        checkbox.className = 'form-check-input deliveryFilterCompetitor';

                        checkbox.addEventListener('change', () => {
                            if (checkbox.checked) {
                                loadCompetitorPrices([scrap.id]);
                            } else {
                                delete loadedPrices[scrap.id];
                                renderPrices();
                            }
                        });

                        const date = new Date(scrap.date);
                        const formattedDate = `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;

                        label.appendChild(checkbox);
                        label.appendChild(document.createTextNode(formattedDate));
                        container.appendChild(label);
                    });
                })
                .catch(error => console.error('Error loading scrap history options:', error));
        }

        const loadedPrices = {};
        let allProducts = {};

        function loadCompetitorPrices(scrapHistoryIds) {
            scrapHistoryIds.forEach(scrapHistoryId => {
                const requestData = {
                    storeId: @storeId,
                    competitorStoreName: '@competitorStoreName',
                    scrapHistoryId: parseInt(scrapHistoryId)
                };

                fetch('/Competitors/GetCompetitorPrices', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                })
                    .then(response => response.json())
                    .then(data => {
                        loadedPrices[scrapHistoryId] = data;
                        renderPrices();
                    })
                    .catch(error => console.error('Error loading competitor prices:', error));
            });
        }

        function renderPrices() {
            const tableBody = document.getElementById('priceTableBody');
            tableBody.innerHTML = '';

            const urlProductMap = {};

            for (const [scrapHistoryId, prices] of Object.entries(loadedPrices)) {
                prices.forEach(price => {
                    if (!urlProductMap[price.productId]) {
                        urlProductMap[price.productId] = {
                            productName: price.productName,
                            scrapHistoryId: scrapHistoryId,
                            data: {},
                            ourData: {},
                            priceData: price.priceData, // dodano priceData do mapy produktów
                            offerUrl: price.offerUrl
                        };
                    }
                    urlProductMap[price.productId].data[scrapHistoryId] = price.price;
                    urlProductMap[price.productId].ourData[scrapHistoryId] = price.ourPrice;
                });
            }

            allProducts = urlProductMap;

            const theadRow = document.querySelector('table thead tr');
            theadRow.innerHTML = `
                        <th>Produkt</th>
              
                    `;

            const uniqueScrapHistoryIds = Object.keys(loadedPrices);
            uniqueScrapHistoryIds.forEach(id => {
                const th = document.createElement('th');

                const checkbox = document.querySelector(`input[type="checkbox"][value="${id}"]`);
                if (checkbox) {
                    const date = new Date(checkbox.dataset.date);
                    const formattedDate = `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
                    th.textContent = `${formattedDate}`;
                } else {
                    th.textContent = `Cena (${id})`;
                }

                theadRow.appendChild(th);
            });

            displayProducts(urlProductMap);
        }

        function filterProducts(searchTerm) {
            const filteredProducts = {};
            for (const [productId, product] of Object.entries(allProducts)) {
                if (product.productName.toLowerCase().includes(searchTerm.toLowerCase())) {
                    filteredProducts[productId] = product;
                }
            }
            displayProducts(filteredProducts);
        }

        function displayProducts(products) {
            const tableBody = document.getElementById('priceTableBody');
            tableBody.innerHTML = '';

            const selectedPriceDataFilters = Array.from(document.querySelectorAll('input[type="checkbox"][id^="filterPriceData"]:checked')).map(cb => parseInt(cb.value));

            const filterIncrease = document.getElementById('filterIncrease').checked;
            const filterDecrease = document.getElementById('filterDecrease').checked;
            const filterChange = document.getElementById('filterChange').checked;

            for (const [productId, product] of Object.entries(products)) {
                let showRow = true;
                let hasChange = false;
                let hasIncrease = false;
                let hasDecrease = false;

                const priceChanges = [];

                if (selectedPriceDataFilters.length > 0 && !selectedPriceDataFilters.includes(product.priceData)) {
                    showRow = false;
                }

                const row = document.createElement('tr');
                row.innerHTML = `<td><div class="price-box-column-name-com">${product.productName}</div></td>`;

                const uniqueScrapHistoryIds = Object.keys(loadedPrices);

                uniqueScrapHistoryIds.forEach((id, index) => {
                    const td = document.createElement('td');
                    let tdContent = '<div class="flex-row">';

                    // Nasza cena i zmiany w cenie
                    const ourPrice = product.ourData[id] ? product.ourData[id].toFixed(2) : "B/D";
                    let ourPriceContent = `<div class="priceBox-style-o ${ourPrice === "B/D" ? 'no-price' : ''}">`;

                    if (index > 0 && ourPrice !== "B/D") {
                        const previousId = uniqueScrapHistoryIds[index - 1];
                        const previousOurPrice = product.ourData[previousId] ? product.ourData[previousId] : null;

                        if (previousOurPrice !== null) {
                            const ourPriceDifference = product.ourData[id] - previousOurPrice;
                            const ourPercentageDifference = ((ourPriceDifference / previousOurPrice) * 100).toFixed(2);

                            if (ourPriceDifference !== 0) {
                                const isIncrease = ourPriceDifference > 0;
                                const changeType = isIncrease ? 'increase' : 'decrease';
                                const ourDifferenceElement = `<div class="${isIncrease ? 'priceBox-diff-down' : 'priceBox-diff-up'}">
                                    ${ourPriceDifference.toFixed(2)} PLN (${ourPercentageDifference}%) ${isIncrease ? '&uarr;' : '&darr;'}
                                </div>`;

                                ourPriceContent += ourDifferenceElement;
                                hasChange = true;
                                if (isIncrease) {
                                    hasIncrease = true;
                                } else {
                                    hasDecrease = true;
                                }
                                priceChanges.push({ change: changeType });
                            }
                        }
                    }

                    ourPriceContent += `<div class="PriceTagBox-o">${ourPrice !== "B/D" ? `${ourPrice} PLN` : ourPrice}</div></div>`;
                    ourPriceContent += `<div class="Price-box-content-o-t">@storeName</div>`;
                    tdContent += `<div class="Price-box-content-o flex-column">${ourPriceContent}</div>`;

                    const currentPrice = product.data[id] ? product.data[id].toFixed(2) : "B/D";
                    let competitorPriceContent = `<div class="priceBox-style-c ${currentPrice === "B/D" ? 'no-price' : ''}">`;




                    // Najpierw wyświetlamy cenę
                    competitorPriceContent += `<div class="PriceTagBox-c">${currentPrice !== "B/D" ? `${currentPrice} PLN` : currentPrice}</div>`;





                    // Następnie wyświetlamy różnicę cen, jeśli jest
                    if (index > 0 && currentPrice !== "B/D") {
                        const previousId = uniqueScrapHistoryIds[index - 1];
                        const previousPrice = product.data[previousId] ? product.data[previousId] : null;

                        if (previousPrice !== null) {
                            const priceDifference = product.data[id] - previousPrice;
                            const percentageDifference = ((priceDifference / previousPrice) * 100).toFixed(2);

                            if (priceDifference !== 0) {
                                const isIncrease = priceDifference > 0;
                                const differenceElement = `<div class="${isIncrease ? 'priceBox-diff-down' : 'priceBox-diff-up'}">
                        ${priceDifference.toFixed(2)} PLN (${percentageDifference}%) ${isIncrease ? '&uarr;' : '&darr;'}
                    </div>`;

                                competitorPriceContent += differenceElement;
                                hasChange = true;
                                if (isIncrease) {
                                    hasIncrease = true;
                                } else {
                                    hasDecrease = true;
                                }
                                priceChanges.push({ change: isIncrease ? 'increase' : 'decrease' });
                            }
                        }
                    }

                    competitorPriceContent += `</div>`;
                    competitorPriceContent += `<div class="Price-box-content-c-t">@competitorStoreName</div>`;
                    tdContent += `<div class="Price-box-content-c flex-column">${competitorPriceContent}</div>`;


                    td.innerHTML = tdContent;
                    td.classList.add('nowrap');

                    td.querySelector('.Price-box-content-c, .Price-box-content-o').addEventListener('click', (event) => {
                        event.stopPropagation();
                        const url = `/PriceHistory/Details?productId=${productId}&scrapId=${id}`;
                        window.open(url, '_blank');
                    });

                    row.appendChild(td);
                });

                // Aplikowanie filtrów
                if (filterIncrease && !hasIncrease) {
                    showRow = false;
                }
                if (filterDecrease && !hasDecrease) {
                    showRow = false;
                }
                if (filterChange && priceChanges.length === 0) {
                    showRow = false;
                }

                if (showRow) {
                    tableBody.appendChild(row);
                }
            }
        }


</script>
}
