@{
    ViewBag.Title = "Ceny produktów dla " + ViewBag.CompetitorStoreName;
    var storeId = ViewBag.StoreId;
    var competitorStoreName = ViewBag.CompetitorStoreName;
}

<h2>Ceny produktów dla @competitorStoreName</h2>

<div>
    <label for="scrapHistorySelect">Wybierz scrapowanie:</label>
    <div id="scrapHistoryCheckboxes">
        <!-- Checkboxy zostaną załadowane dynamicznie przez JavaScript -->
    </div>
</div>

<div>
    <label>Filtruj zmiany cen:</label>
    <label><input type="checkbox" id="filterIncrease" value="increase"> Podwyżka</label>
    <label><input type="checkbox" id="filterDecrease" value="decrease"> Obniżka</label>
    <label><input type="checkbox" id="filterChange" value="change"> Zmiana</label>
    <label><input type="checkbox" id="filterAll" value="all"> Wszystkie</label>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa Produktu</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody id="priceTableBody">
        <!-- Ceny produktów zostaną załadowane dynamicznie przez JavaScript -->
    </tbody>
</table>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            loadScrapHistoryOptions();

            document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.addEventListener('change', renderPrices);
            });
        });

        function loadScrapHistoryOptions() {
            fetch(`/Competitors/GetScrapHistoryIds?storeId=${@storeId}`)
                .then(response => response.json())
                .then(scrapHistoryIds => {
                    const container = document.getElementById('scrapHistoryCheckboxes');
                    scrapHistoryIds.forEach(scrap => {
                        const label = document.createElement('label');
                        label.style.display = 'block';
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.value = scrap.id;
                        checkbox.addEventListener('change', () => {
                            if (checkbox.checked) {
                                loadCompetitorPrices([scrap.id]);
                            } else {
                                delete loadedPrices[scrap.id];
                                renderPrices();
                            }
                        });
                        label.appendChild(checkbox);
                        label.appendChild(document.createTextNode(`${new Date(scrap.date).toLocaleString()} (${scrap.id})`));
                        container.appendChild(label);
                    });
                })
                .catch(error => console.error('Error loading scrap history options:', error));
        }

        const loadedPrices = {};

        function loadCompetitorPrices(scrapHistoryIds) {
            scrapHistoryIds.forEach(scrapHistoryId => {
                const requestData = {
                    storeId: @storeId,
                    competitorStoreName: '@competitorStoreName',
                    scrapHistoryId: parseInt(scrapHistoryId)
                };

                fetch('/Competitors/GetCompetitorPrices', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                })
                    .then(response => response.json())
                    .then(data => {
                        loadedPrices[scrapHistoryId] = data;
                        renderPrices();
                    })
                    .catch(error => console.error('Error loading competitor prices:', error));
            });
        }

        function renderPrices() {
            const tableBody = document.getElementById('priceTableBody');
            tableBody.innerHTML = '';

            let rowIndex = 1;
            const urlProductMap = {};

            // Mapowanie URL na produkty
            for (const [scrapHistoryId, prices] of Object.entries(loadedPrices)) {
                prices.forEach(price => {
                    if (!urlProductMap[price.offerUrl]) {
                        urlProductMap[price.offerUrl] = { productName: price.productName, data: {} };
                    }
                    urlProductMap[price.offerUrl].data[scrapHistoryId] = price.price;
                });
            }

            // Dodaj nagłówki dla scrapHistoryId
            const theadRow = document.querySelector('table thead tr');
            theadRow.innerHTML = `
                        <th>#</th>
                        <th>Nazwa Produktu</th>
                        <th>URL</th>
                    `;
            const uniqueScrapHistoryIds = Object.keys(loadedPrices);
            uniqueScrapHistoryIds.forEach(id => {
                const th = document.createElement('th');
                th.textContent = `Cena (${id})`;
                theadRow.appendChild(th);
            });

            // Renderowanie tabeli
            for (const [url, product] of Object.entries(urlProductMap)) {
                const row = document.createElement('tr');
                row.innerHTML = `
                            <td>${rowIndex}</td>
                            <td>${product.productName}</td>
                            <td><a href="${url}" target="_blank">${url}</a></td>
                        `;

                let showRow = true;
                let priceChanges = [];
                let hasChange = false;

                uniqueScrapHistoryIds.forEach((id, index) => {
                    const td = document.createElement('td');
                    const currentPrice = product.data[id] ? product.data[id].toFixed(2) : 'Brak danych';
                    td.textContent = currentPrice + ' PLN';

                    if (index > 0) {
                        const previousId = uniqueScrapHistoryIds[index - 1];
                        const previousPrice = product.data[previousId] ? product.data[previousId] : null;
                        if (previousPrice) {
                            const priceDifference = product.data[id] - previousPrice;
                            const percentageDifference = ((priceDifference / previousPrice) * 100).toFixed(2);
                            const differenceText = priceDifference.toFixed(2) + ' PLN';

                            const differenceElement = document.createElement('p');
                            differenceElement.textContent = differenceText;

                            if (product.data[id] > previousPrice) {
                                td.innerHTML += ' <span>&uarr;</span>';
                                td.style.color = 'red';
                                td.style.fontWeight = 'bold';
                                differenceElement.style.color = 'red';
                                differenceElement.textContent += ` (${percentageDifference}%)`;
                                priceChanges.push({ change: 'increase', priceDifference, percentageDifference });
                                hasChange = true;
                            } else if (product.data[id] < previousPrice) {
                                td.innerHTML += ' <span>&darr;</span>';
                                td.style.color = 'green';
                                td.style.fontWeight = 'bold';
                                differenceElement.style.color = 'green';
                                differenceElement.textContent += ` (${percentageDifference}%)`;
                                priceChanges.push({ change: 'decrease', priceDifference, percentageDifference });
                                hasChange = true;
                            }

                            td.appendChild(differenceElement);
                        }
                    }

                    row.appendChild(td);
                });

                // Filtruj na podstawie wybranego filtru zmian cen
                const filterIncrease = document.getElementById('filterIncrease').checked;
                const filterDecrease = document.getElementById('filterDecrease').checked;
                const filterChange = document.getElementById('filterChange').checked;
                const filterAll = document.getElementById('filterAll').checked;

                if (filterIncrease && !priceChanges.some(change => change.change === 'increase')) {
                    showRow = false;
                }
                if (filterDecrease && !priceChanges.some(change => change.change === 'decrease')) {
                    showRow = false;
                }
                if (filterChange && !hasChange) {
                    showRow = false;
                }
                if (filterAll) {
                    showRow = true;
                }

                if (showRow) {
                    tableBody.appendChild(row);
                    rowIndex++;
                }
            }
        }
    </script>
}
