
* {
    box-sizing: border-box; /* Upewnijmy się, że padding i border są uwzględniane w wymiarach elementów */
}

.Main-home {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding-top: 64px;
    width: 100%;
}

.Nav-Bar {
    display: flex;
    height: 72px;
    padding: 4px 128px;
    justify-content: center;
    align-items: center;
    background: rgba(6, 6, 6, 0.9);
    box-shadow: 0px 3.7px 3.7px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Nav-Bar-Scal {
    display: flex;
    width: 100%;
    max-width: 1576px;
    justify-content: space-between;
    align-items: center;
}

.Nav-Bar-Scal-Box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Nav-Bar-Logo {
    display: flex;
    height: 24px;
    align-items: center;
}

    .Nav-Bar-Logo img {
        height: 100%;
        object-fit: contain;
    }





/*footer */


.Fotter {
    display: flex;
    padding: 64px 128px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border: 1px solid #000;
    background: #222222;
    box-shadow: -6px 6px 15.2px 0px rgba(0, 0, 0, 0.25) inset;
    z-index: 1000;
}



.Fotter-Box {
    display: flex;
    width: 100%;
    max-width: 1576px;
    flex-direction: column;
    gap: 48px;
}

.Fotter-Box-Head {
    display: flex;
    width: 100%;
    max-width: 1576px;
    justify-content: flex-start;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.Footer-Section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    gap: 4px;
}

.Footer-Section-Title {
    display: flex;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.4);
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 12px;
}

.Footer-Section-Link {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
}

.Footer-Section-Text {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 200;
}

.Footer-Section-Link:hover {
    text-decoration: none;
    color: #41C7C7;
}


/*footer*/


.CleanCTA {
    display: flex;
    padding: 0px 8px 0px 8px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #353535;
    color: #41C7C7;
    font-size: 36px;
    font-weight: 300;
    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
}


    .CleanCTA:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(6, 6, 6, 0.8);
        text-decoration: none;
        color: #41C7C7;
    }





.Mini-Icon {
    display: flex;
    height: 24px;
    gap: 8px;
}

    .Mini-Icon img {
        height: 100%;
        object-fit: contain;
    }

.Nav-Bar-Button, .Contrast-Button {
    display: flex;
    padding: 2px 24px;
    justify-content: center;
    border-radius: 24px;
    align-items: center;
    border: 2px solid rgba(6, 6, 6, 0.92);
    background: rgba(6, 6, 6, 0.3);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition:0.3s ease;
}

    .Nav-Bar-Button:hover, .Contrast-Button:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(6, 6, 6, 0.7);
        text-decoration: none;
        color: #fff;
    }

.Nav-Bar-Button-Contact {
    display: flex;
    padding: 2px 24px;
    justify-content: center;
    border-radius: 24px;
    align-items: center;
    border: 2px solid #00A1A1;
    background: #41C7C7;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s ease;
}

    .Nav-Bar-Button-Contact:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: #007575;
        text-decoration: none;
        color: #fff;
    }

.DarkButton {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid rgba(6, 6, 6, 0.92);
    background: rgba(6, 6, 6, 0.3);
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    width: 50%;
    transition: 0.3s ease;
    text-decoration: none;
}

    .DarkButton:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(6, 6, 6, 0.7);
        text-decoration: none;
        color: #fff;
    }



.DarkCTA {
    display: inline-flex;
    align-items: center;
    padding: 4px 12px;
    border-radius: 8px;
    border: 2px solid rgba(6, 6, 6, 0.95);
    background: rgba(6, 6, 6, 0.8);
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s ease;
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
    height: auto; /* Automatyczna wysokość */
}

    .DarkCTA img {
        margin-right: 12px;
        max-height: 18px; /* Zmieniona wysokość obrazka */
        border-radius: 2px;
    }

    .DarkCTA:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: rgba(6, 6, 6, 0.9);
        text-decoration: none;
        color: #fff;
    }



.ActionButton {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border: 2px solid #00A1A1;
    background: #41C7C7;
    color: #fff;
    font-size: 22px;
    border-radius: 16px;
    font-weight: 300;
    width: 50%;
    transition: 0.3s ease;
}

    .ActionButton:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: #007575;
        text-decoration: none;
        color: #fff;
    }


.Vert-50-Horizontal {
    display:flex;
    gap:10px;
}

.Vert-Home {
    display: flex;
    padding: 64px 128px;
    justify-content: center;
    align-content: center;
    gap: 128px;
    background: #fff;
    align-self: stretch;
    flex-wrap: wrap;
}

.Vert-50 {
    display: flex;
    width: 100%;
    max-width: 724px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.Vert-List {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.StoreList {
    display: flex;
    gap: 16px;
    align-items: center;
}

    .StoreList img {
        height: 42px !important;
        object-fit: contain;
        width: auto !important;
    }

.Vert-50-List {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    max-width: 724px;
}

.Vert-50 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Text-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.Text-Box-Title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #353535;
    font-size: 36px;
    font-weight: 300;
}

.Text-Box-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: #353535;
    font-size: 17px;
    font-weight: 300;
}

.Horizontal-Box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.Icon-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Icon-Box-Icon {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

    .Icon-Box-Icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.Icon-Box-Text {
    display: flex;
    width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.Icon-Box-Text-Title {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 28px;
    font-weight: 200;
}

.Icon-Box-Text-Text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 200;
    
}

.Home-Join-button {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid rgba(217, 217, 217, 0.22);
    background: #1C8F98;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    transition: box-shadow 0.3s ease;
    text-decoration: none;
}

    .Home-Join-button:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: #fff;
    }

.Vert-Space-Dark {
    display: flex;
    padding: 64px 128px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border: 1px solid #000;
    background: #222222;
    box-shadow: -6px 6px 15.2px 0px rgba(0, 0, 0, 0.25) inset;
}

.List-Box {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}


.Horizontal-100 {
    display: flex;
    width:100%;
    align-items: center;
    max-width:1576px;
    justify-content:space-between;
    gap: 32px;
    align-self: stretch;

}

.List-Box-Text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.List-Box-Text-Title {
    display: flex;
    align-self: stretch;
    color: #353535;
    font-size: 20px;
    font-weight: 400;
}

.List-Box-Text-Text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #353535;
    font-size: 17px;
    font-weight: 300;
}

.List-Box-Q {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: #EEEEEE;
    padding: 12px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

    .List-Box-Q:hover {
        background: #DADADA;
    }

.List-Box-Text-Text-Q {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #353535;
    padding: 12px 0px;
    font-size: 17px;
    font-weight: 300;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
}

    .List-Box-Text-Text-Q.active {
        max-height: 1000px;
        transition: max-height 0.5s ease-in;
    }

.List-Box-Line {
    width: 3px;
    height: 40px;
    background: #41C7C7;
}

.button-container {
    display: flex;
    gap: 32px;
}
.change-banner-1, .change-banner-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0px 12px;
    color: #353535;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background: none;
    border: 2px solid #fff;
}



.change-banner-1-active {
    color: #41C7C7;
    border: 2px solid #41C7C7;
}

.change-banner-2-active {
    color: #41C7C7;
    border: 2px solid #41C7C7;
}



.mobile-bottom-button {
    display: none;
}

.mobile-action-button {
    display: flex;
    justify-content: center;
    width:100%;
    align-items: center;
    background: #212529;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    z-index: 1000;
}


.mobile-action-button:hover {
    background: #155e73;
    color: #fff;
    text-decoration: none;
}




.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}

    .hamburger-menu .bar {
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 2px;
    }

.mobile-menu {
    display: none;
    flex-direction: column;
    background: rgba(6, 6, 6, 0.9);
    padding: 16px;
}


/* Responsywne style dla urządzeń mobilnych */

@media (max-width: 900px) {

    .hamburger-menu {
        display: flex;
    }

    .Nav-Bar-Scal-Box.nav-buttons {
        display: none;
    }


    /* Nawigacja */
    .Nav-Bar {
        padding: 4px 16px;
    }

    .Nav-Bar-Scal {
        
        gap: 16px;
    }

    .Nav-Bar-Scal-Box {
        width: 100%;
        justify-content: flex-start;
    }

        .Nav-Bar-Scal-Box.nav-buttons {
            flex-direction: column;
            gap: 8px;
        }

            /* Przyciski nawigacji */
            .Nav-Bar-Scal-Box.nav-buttons .Nav-Bar-Button {
                width: 100%;
                justify-content: center;
            }

    /* Główna zawartość */
    .Vert-Home {
        padding: 32px 16px;
        gap: 32px;
    }

    .Vert-50 {
        max-width: none;
    }

    /* Teksty */
    .Text-Box-Text,
    .Icon-Box-Text-Text,
    .Icon-Box-Text-Title,
    .List-Box-Text-Text,
    .List-Box-Text-Title {
        font-size: 16px;
    }

    /* Ikony */
    .Icon-Box-Text {
        width: 100%;
    }

    /* Layouty */
    .Horizontal-Box,
    .List-Box,
    .button-container {
        
        align-items: center;
        gap: 16px;
    }

    /* Przyciski zmiany bannera */
    .change-banner-1,
    .change-banner-2 {
        width: 100%;
    }

    .Text-Box-Title {
       
        font-size: 26px;

    }


    .CleanCTA {
      
        font-size: 26px;
     
    }

    .Vert-Space-Dark {
        padding: 32px 16px;
    }

    /* Stopka */
    .Fotter {
        padding: 32px 16px;
    }

    .Fotter-Box {
        gap: 24px;
    }

    .Horizontal-100 {
        flex-direction: column;
        gap: 32px;
    }

    .Footer-Section {
        width: 100%;
    }
}