@{
    ViewData["Title"] = "Utwórz Nowy Plan";
}

<h2>@ViewData["Title"]</h2>

<!-- Po prostu przycisk, który wywołuje POST do CreatePost -->
<form asp-action="CreatePost" method="post">
    <p>Ten przycisk utworzy nowy plan i 7 dni.</p>
    <button type="submit" class="btn btn-primary">Stwórz Plan</button>
</form>
