@model PriceSafari.Models.ViewModels.SchedulePlanViewModels.AddTaskViewModel


@{
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@{
    ViewData["Title"] = "Edytuj Zadanie";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditTask" method="post">
    <input type="hidden" name="taskId" value="@ViewBag.TaskId" />

    <div class="form-group">
        <label>Nazwa Zadania:</label>
        <input asp-for="SessionName" class="form-control" />
    </div>

    <div class="form-group">
        <label>Start (HH:mm):</label>
        <input asp-for="StartTime" class="form-control" />
    </div>

    <div class="form-group">
        <label>Koniec (HH:mm):</label>
        <input asp-for="EndTime" class="form-control" />
    </div>

    <div class="form-check">
        <input asp-for="BaseEnabled" class="form-check-input" />
        <label>Base Scal</label>
    </div>
    <div class="form-check">
        <input asp-for="UrlEnabled" class="form-check-input" />
        <label>Url Scal</label>
    </div>
    <div class="form-check">
        <input asp-for="GoogleEnabled" class="form-check-input" />
        <label>Google Scraper</label>
    </div>
    <div class="form-check">
        <input asp-for="CeneoEnabled" class="form-check-input" />
        <label>Ceneo Scraper</label>
    </div>
    <div class="form-check">
        <input asp-for="AleBaseEnabled" class="form-check-input" />
        <label>Scalanie Allegro</label>
    </div>

    <hr />
    <h4>Sklepy:</h4>
    <table class="table">
        <thead>
            <tr><th>Nazwa</th><th>Wybrany?</th></tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Stores.Count; i++)
            {
                <tr>
                    <td>@Model.Stores[i].StoreName</td>
                    <td>
                        <input asp-for="Stores[i].IsSelected" type="checkbox" />
                        <input type="hidden" asp-for="Stores[i].StoreId" />
                        <input type="hidden" asp-for="Stores[i].StoreName" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>
