@model IEnumerable<PriceSafari.Models.ProductClass>

@{
    ViewData["Title"] = "Lista Produktów";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
    var storeId = ViewBag.StoreId;
}

<h2>Products for Google Scraping</h2>

<form asp-action="StartScrapingForProducts" method="post">
    <input type="hidden" name="storeId" value="@storeId" />

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductNameInStoreForGoogle</td>
                    <td>@product.Url</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit">Start Scraping</button>
</form>