@model IEnumerable<PriceTracker.Data.TableSizeInfo>

@{
    ViewData["Title"] = "Rozmiar Tabel";
}

@{

    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>Rozmiar Tabel</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa Tabeli</th>
            <th>Ilość Wierszy</th>
            <th>Użyta Przestrzeń (MB)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tableSize in Model)
        {
            <tr>
                <td>@tableSize.TableName</td>
                <td>@tableSize.RowCounts</td>
                <td>@tableSize.UsedSpaceMB</td>
            </tr>
        }
    </tbody>
</table>
