@{
    ViewData["Title"] = "Price Safari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - O nas</title>
    <meta name="description" content="Poznaj zespół PriceSafari i nasze wartości. Tworzymy rozwiązania do monitorowania cen, które pomagają naszym klientom zdobyć przewagę rynkową." />

</head>
<body>

    <div class="Main-home">

        <div class="Vert-Home">

            <div class="Vert-50" style="justify-content:flex-start;">
                <div class="Text-Box-Title">
                    <h1>Zajmujemy się monitorowaniem cen online</h1>
                </div>
                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <h4>Inteligentne analizy, które wspierają decyzje w Twojej firmie.</h4>

                        <p>
                            PriceSafari monitoruje ceny produktów w 16 krajach Europy, dostarczając firmom bieżące i precyzyjne informacje o dynamice cen.
                            Nasze zaawansowane narzędzia analizują porównywarki cenowe, platformy e-commerce oraz Google Shopping.
                            Współpracujemy blisko z naszymi klientami, doskonale rozumiejąc ich potrzeby i zapewniając indywidualne podejście do każdego biznesu.
                        </p>

                        <div class="button-space">
                            <a href="/Home/Contact" class="CleanCTA">Testuj PriceSafari za darmo</a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="Vert-50">

                <img src="~/images homepage/Img2.png" class="banner-img" alt="Pełny krajobraz rynku">
            </div>

        </div>
        <div class="Vert-Home reverse-on-mobile">

            <div class="Vert-50">
                <img src="~/images homepage/Img2.png" class="banner-img" alt="Pełny krajobraz rynku">

            </div>
            <div class="Vert-50">
                <div class="Text-Box">
                    <div class="Text-Box-Title">
                        <h2>Technologia</h2>
                    </div>

                    <div class="Text-Box-Text">
                        <p>
                            Każdego dnia nasze roboty scrapujące przeszukują internet, gromadząc i weryfikując dane o cenach, dostępności produktów, promocjach, a także analizując trendy rynkowe i aktywność konkurencji.
                        </p>
                     
                        <p>
                            Wspieramy kluczowe wskaźniki KPI dla branży e-commerce: od optymalizacji marż, przez zarządzanie promocjami, aż po monitorowanie polityki cenowej na różnych kanałach sprzedaży. Nasze narzędzie pozwala nie tylko „wygrywać wyścig cenowy”, ale też skutecznie utrzymywać pozycję na rynku.
                        </p>
                        
                    </div>
                </div>
            </div>


        </div>


        <div class="Vert-Space-Dark">
            
            <div class="Horizontal-100" style="justify-content:flex-start;">
                <div class="Icon-Box">
                    <div class="Icon-Box-Text">
                        <img src="~/images homepage/MateuszWerner.jpg" style="height:100px; width:100px; border-radius:50px; align-self:center;" alt="Mateusz Werner - CEO | Lead Developer | .NET w PriceSafari" />
                        <div class="Icon-Box-Text-Title" style="align-self:center; display: flex; align-items: center; gap: 16px;">
                            Mateusz Werner
                            <a href="https://www.linkedin.com/in/mateusz-werner-99b67b207/" target="_blank" rel="noopener noreferrer">
                                <img src="~/images homepage/LinkedIn.png" style="height:16px; width:16px; cursor:pointer; margin-bottom:6px;" alt="LinkedIn - Mateusz Werner - CEO | Lead Developer | .NET w PriceSafari" />
                            </a>
                        </div>

                        <p class="Icon-Box-Text-Text" style="align-self:center;">
                            CEO | Lead Developer | .NET
                        </p>
                    </div>
                </div>

                <div class="Icon-Box">
                    <div class="Icon-Box-Text">
                        <img src="~/images homepage/JakubOstrowski.jpg" style="height:100px; width:100px; border-radius:50px; align-self:center;" alt="Jakub Ostrowski - Sales & QA Specialist | C# w PriceSafari" />
                        <div class="Icon-Box-Text-Title" style="align-self:center; display: flex; align-items: center; gap: 16px;">
                            Jakub Ostrowski
                            <a href="https://www.linkedin.com/in/jakub-ostrowski-079882269/" target="_blank" rel="noopener noreferrer">
                                <img src="~/images homepage/LinkedIn.png" style="height:16px; width:16px; cursor:pointer; margin-bottom:6px;" alt="LinkedIn - Jakub Ostrowski - Sales & QA Specialist | C# w PriceSafari" />
                            </a>
                        </div>

                        <p class="Icon-Box-Text-Text" style="align-self:center;">
                            Sales & QA Specialist | C#
                        </p>
                    </div>
                </div>

                
            </div>
            
        </div>

    </div>

</body>
</html>

<script src="/js/Home/index.min.js"></script>