@{
    ViewData["Title"] = "Price Safari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - O nas</title>

</head>
<body>

    <div class="Main-home">

        <div class="Vert-Home">
          
               
                 
               
                    <div class="Vert-50" style="justify-content:flex-start;">
                        <div class="Text-Box-Title">
                            Kim jesteśmy?
                        </div>
                        <div class="Text-Box">

                            <div class="Text-Box-Text">



                                <h3>PriceSafari to Polska firma specjalizująca się w monitoringu cen produktów online</h3>

                                <p>
                                    PriceSafari monitoruje ceny produktów w 16 krajach Europy, dostarczając firmom bieżące i precyzyjne informacje o dynamice cen. 
                                    Nasze zaawansowane narzędzia analizują porównywarki cenowe, platformy e-commerce oraz Google Shopping.
                                    Współpracujemy blisko z naszymi klientami, doskonale rozumiejąc ich potrzeby i zapewniając indywidualne podejście do każdego biznesu.
                                </p>


                                <div class="button-space">
                                    <a href="/Home/Contact" class="CleanCTA">Testuj PriceSafari za darmo</a>
                                </div>



                            </div>

                        </div>

                    </div>
                    <div class="Vert-50">

                        <img src="~/images homepage/Img2.png" class="banner-img" alt="Pełny krajobraz rynku">
                    </div>
           

        

        </div>
        <div class="Vert-Home reverse-on-mobile">

            <div class="Vert-50">
                <img src="~/images homepage/Img2.png" class="banner-img" alt="Pełny krajobraz rynku">

            </div>
            <div class="Vert-50">
                <div class="Text-Box">
                    <div class="Text-Box-Title">Technologia</div>

                    <div class="Text-Box-Text">
                        <p>
                            Każdego dnia nasze roboty scrapujące przeszukują internet, gromadząc i weryfikując dane o cenach, dostępności produktów, promocjach i wielu innych kluczowych wskaźnikach.
                        </p>

                    </div>
                </div>
            </div>

        </div>
@* 
        <div class="Vert-Home">

            <div class="Vert-50">

                <div class="Text-Box">
                    <div class="Text-Box-Title">Twoja strategia</div>

                    <div class="Text-Box-Text">
                        <p>

                            PriceSafari to stały dostęp do precyzyjnych, zaktualizowanych raportów rynkowych, które dostarczają kluczowych informacji o zmianach cenowych w wybranych segmentach: od marek i typów produktów po konkretne pozycje, za które odpowiadasz, oraz produkty z trudniejszą sprzedażą.
                        </p>
                        <p>
                            Dzięki regularnym raportom możesz śledzić trendy, podejmować szybkie decyzje dotyczące cen i produktów oraz świadomie kształtować swoją strategie. To nieocenione wsparcie, które zapewnia doskonałe podstawy do optymalizacji pozycji cenowej i zdobycia przewagi konkurencyjnej na rynku.
                        </p>

                    </div>
                </div>
            </div>

            <div class="Vert-50">
                <img src="~/images homepage/Img3.png" class="banner-img" alt="Inteligentna strategia">
            </div>

        </div>
 *@
    </div>

   
</body>
</html>

<script src="/js/Home/index.min.js"></script>