@model PriceSafari.Models.ViewModels.ContactFormViewModel

@{
    ViewData["Title"] = "Formularz kontaktowy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Poniżej znajdziesz zaktualizowane style CSS */
    .VertDark {
        background: #222222;
        padding: 64px;
        border-radius: 16px;
        box-shadow: 20px 0px 30.8px -23px rgba(0, 0, 0, 0.25) inset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 724px;
        height: 600px; /* Ustaw wysokość według potrzeb */
    }

    .form-step {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-self: stretch;
    }

    .form-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .form-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    .TwinButton {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 36px;
    }

    .form-field {
        width: 100%;
    }

    .form-floating {
        position: relative;
        width: 100%;
    }

        .form-floating .form-control {
            width: 100%;
        }

    .validation-message {
        height: 24px; /* Stała wysokość dla komunikatu walidacyjnego */
        overflow: hidden;
    }

    .contact-box-info {
        width: 100%;
        margin-bottom: 8px;
        margin-top: 16px;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-weight: 300;
    }

    .form-check-label,
    .form-group-radio label {
        color: rgba(255, 255, 255, 0.8);
        font-size: 15px;
        font-weight: 200;
    }

    .DarkButton {
        display: flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 2px solid rgba(6, 6, 6, 0.92);
        background: rgba(6, 6, 6, 0.3);
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        width: 50%;
        transition: box-shadow 0.3s ease;
    }
</style>

<div class="Main-home">
    <div class="Nav-Bar">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" style="cursor: pointer; height:24px;">
                    </a>
                </div>
            </div>
            <div class="Nav-Bar-Scal-Box nav-buttons">
                <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>
                <a href="/Home/Contact" class="Nav-Bar-Button">Kontakt</a>
            </div>
        </div>
    </div>

    <div class="Vert-Home" style="margin-top:128px; margin-bottom:128px;">
        <div class="VertDark">
            <form asp-action="Contact" style="width:100%;" method="post" id="contactForm">
                @Html.AntiForgeryToken()

                <!-- Krok 1 -->
                <div id="step1" class="form-step">
                    <div class="form-content">
                        <!-- Treść kroku 1 -->
                        <div class="login-box-head">
                            <div class="login-box-title">Formularz kontaktowy</div>
                        </div>

                        <div class="contact-box-info">
                            Pod jakim adresem e-mail możemy się z Tobą skontaktować?
                        </div>

                        <div class="form-field">
                            <div class="form-floating">
                                <input asp-for="Email" class="form-control" />
                                <label asp-for="Email" class="form-label">Email</label>
                            </div>
                            <div class="validation-message">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-field">
                            <div class="form-group form-check">
                                <input asp-for="ConsentToDataProcessing" class="form-check-input" />
                                <label class="form-check-label" asp-for="ConsentToDataProcessing">
                                    Wyrażam zgodę na przetwarzanie moich danych osobowych przez Heated Box sp. z o.o. z siedzibą w Częstochowie (42-200), ul. Wojciecha Korfantego 16 (dalej "PriceSafari"), w celach marketingowych produktów i usług PriceSafari.
                                    Dane osobowe nie będą udostępniane innym odbiorcom. Przysługuje mi prawo dostępu do treści moich danych oraz ich poprawiania poprzez bezpośredni kontakt z PriceSafari. Podanie danych osobowych jest dobrowolne.
                                </label>
                            </div>
                            <div class="validation-message">
                                <span id="consentError" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons">
                        <button type="button" class="DarkButton" onclick="nextStep()">Dalej</button>
                    </div>
                </div>

                <!-- Krok 2 -->
                <div id="step2" class="form-step" style="display:none;">
                    <div class="form-content">
                        <!-- Treść kroku 2 -->
                        <div class="login-box-head">
                            <div class="login-box-title">Formularz kontaktowy</div>
                        </div>

                        <div class="contact-box-info">
                            Jak nazywa się firma, którą reprezentujesz?
                        </div>

                        <div class="form-field">
                            <div class="form-floating">
                                <input asp-for="CompanyName" class="form-control" />
                                <label asp-for="CompanyName" class="form-label">Nazwa firmy</label>
                            </div>
                            <div class="validation-message">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons TwinButton">
                        <button type="button" class="DarkButton" onclick="prevStep()">Wstecz</button>
                        <button type="button" class="DarkButton" onclick="nextStep()">Dalej</button>
                    </div>
                </div>

                <!-- Krok 3 -->
                <div id="step3" class="form-step" style="display:none;">
                    <div class="form-content">
                        <!-- Treść kroku 3 -->
                        <div class="login-box-head">
                            <div class="login-box-title">Formularz kontaktowy</div>
                        </div>

                        <div class="contact-box-info">
                            Jak mamy się do Ciebie zwracać?
                        </div>

                        <div class="form-field">
                            <div class="form-floating">
                                <input asp-for="FirstName" class="form-control" />
                                <label asp-for="FirstName" class="form-label">Imię</label>
                            </div>
                            <div class="validation-message">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-field">
                            <div class="form-floating">
                                <input asp-for="LastName" class="form-control" />
                                <label asp-for="LastName" class="form-label">Nazwisko</label>
                            </div>
                            <div class="validation-message">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons TwinButton">
                        <button type="button" class="DarkButton" onclick="prevStep()">Wstecz</button>
                        <button type="button" class="DarkButton" onclick="nextStep()">Dalej</button>
                    </div>
                </div>

                <!-- Krok 4 -->
                <div id="step4" class="form-step" style="display:none;">
                    <div class="form-content">
                        <!-- Treść kroku 4 -->
                        <div class="login-box-head">
                            <div class="login-box-title">Formularz kontaktowy</div>
                        </div>

                        <div class="contact-box-info">
                            Pod jakim numerem możemy się z Tobą skontaktować?
                        </div>

                        <div class="form-field">
                            <div class="form-floating">
                                <input asp-for="PhoneNumber" class="form-control" />
                                <label asp-for="PhoneNumber" class="form-label">Telefon</label>
                            </div>
                            <div class="validation-message">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Pole wyboru preferowanej formy kontaktu -->
                        <div class="form-field form-group-radio">
                            <label>Preferowana forma kontaktu:</label>
                            <div>
                                <input type="radio" asp-for="PrefersPhone" value="true" id="prefersPhone" />
                                <label for="prefersPhone">Preferuję kontakt telefoniczny</label>
                            </div>
                            <div>
                                <input type="radio" asp-for="PrefersPhone" value="false" id="prefersEmail" />
                                <label for="prefersEmail">Preferuję kontakt mailowy</label>
                            </div>
                            <div class="validation-message">
                                <span asp-validation-for="PrefersPhone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-buttons TwinButton">
                        <button type="button" class="DarkButton" onclick="prevStep()">Wstecz</button>
                        <button type="submit" class="DarkButton">Wyślij</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="Vert-50">
            <div class="Text-Box">
                <h1 class="Text-Box-Title">Monitoring cen</h1>

                <div class="Text-Box-Text">
                    <p>
                        Maksymalizuj zyski, precyzyjnie zarządzaj strategią cenową i zawsze wyprzedzaj konkurencję.
                        PriceSafari to zaawansowane narzędzie do monitorowania cen, które codziennie dostarcza aktualne dane o cenach rynkowych produktów znajdujących się w Twojej ofercie.
                        Dzięki naszym szczegółowym analizom możesz szybko reagować na zmiany, poprawiać rentowność oraz zwiększyć zwrot z inwestycji w kampanie reklamowe.

                    </p>


                </div>

            </div>
            <div class="Horizontal-Box">
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/MoneyOut.svg" alt="Analiza Cen">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Analiza Cen</h2>
                        <p class="Icon-Box-Text-Text">Reaguj natychmiast na zmiany rynkowe, aby maksymalizować zyski.</p>
                    </div>
                </div>
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Chart.svg" alt="Śledzenie Konkurencji">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Śledzenie Konkurencji</h2>
                        <p class="Icon-Box-Text-Text">Monitoruj ceny konkurencji na bieżąco, by zawsze być o krok przed nimi.</p>
                    </div>
                </div>

                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Click.svg" alt="Szybkie Wdrożenie">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Szybkie Wdrożenie</h2>
                        <p class="Icon-Box-Text-Text">Wystarczy nazwa Twojej domeny, aby namierzyć konkurencję i ich ceny.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="Nav-Bar-Fotter">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="Price Safari">
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Skrypty i inne sekcje -->
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script>
            var currentStep = 1;
            var totalSteps = 4;

            function showStep(step) {
                $('.form-step').hide();
                $('#step' + step).show();
                // Re-parse the form for unobtrusive validation after showing a new step
                $.validator.unobtrusive.parse('#contactForm');
            }

            function prevStep() {
                currentStep--;
                if (currentStep >= 1) {
                    showStep(currentStep);
                }
            }

            function nextStep() {
                var isValid = true;

                // Walidacja wszystkich widocznych pól w bieżącym kroku
                $('#step' + currentStep + ' :input').each(function () {
                    if (!$(this).valid()) {
                        isValid = false;
                    }
                });

                // Dodatkowa walidacja dla checkboxa w kroku 1
                if (currentStep === 1) {
                    var consentChecked = $('#ConsentToDataProcessing').is(':checked');
                    if (!consentChecked) {
                        isValid = false;
                        // Wyświetlenie komunikatu błędu
                        $('#consentError').text('Musisz wyrazić zgodę na przetwarzanie danych.');
                    } else {
                        // Usunięcie komunikatu błędu, jeśli istnieje
                        $('#consentError').text('');
                    }
                }

                if (isValid) {
                    currentStep++;
                    if (currentStep <= totalSteps) {
                        showStep(currentStep);
                    }
                }
            }

            $(document).ready(function () {
                showStep(currentStep);
                // Inicjalizacja walidacji unobtrusive
                $.validator.unobtrusive.parse('#contactForm');
            });
        </script>
    }
</div>
