@model PriceSafari.Models.ViewModels.ContactFormViewModel

@{
    ViewData["Title"] = "Formularz kontaktowy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .VertDark {
       
        background: #222222;
        padding:64px;
        border-radius: 16px;
        box-shadow: 20px 0px 30.8px -23px rgba(0, 0, 0, 0.25) inset;
        display: flex;
        width: 100%;
        max-width: 724px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
      
    }

    .form-step {
        display: flex;
        align-self: stretch;
        flex: 1;
        border: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
     
    }



    .checkbox {
        color: #fff;
    }

        .checkbox:hover {
            color: #41C7C7;
        }

    .checkbox-blank {
        color: #fff;
    }

    .form-label {
        margin: 0px;
    }


    .DarkButton {
        display: flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 2px solid rgba(6, 6, 6, 0.92);
        background: rgba(6, 6, 6, 0.3);
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        width: 50%;
        transition: box-shadow 0.3s ease;
    }

    .contact-box-info {
        display:flex;
        width:100%;
        margin-bottom:8px;
        margin-top:16px;
        color: rgba(255, 255, 255, 1);
        font-size: 20px;      
        font-weight: 300;
      
    }

    .form-check-label {
        color:white;
    }

</style>


<div class="Main-home">
    <div class="Nav-Bar">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images homepage/PriceSafari.png" alt="PriceSafari" style="cursor: pointer; height:24px;">
                    </a>
                </div>
            </div>
            <div class="Nav-Bar-Scal-Box nav-buttons">
                <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>
                <a href="/Home/Contact" class="Nav-Bar-Button">Kontakt</a>
            </div>
        </div>
    </div>

    <div class="Vert-Home" style="margin-top:128px; margin-bottom:128px;">
       
        <div class="VertDark">
            <form asp-action="Contact" style="width:100%;" method="post" id="contactForm">
                @Html.AntiForgeryToken()

          


                <div id="step1" class="form-step">
                    <div class="login-box-head">
                        <div class="login-box-title">Formularz kontaktowy</div>
                    </div>

                    <div class="contact-box-info">
                        Pod jakim adresem e-mail możemy się z Tobą skontaktować?
                    </div>
                    <div class="form-floating">
                        <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                        <label asp-for="Email" class="form-label">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="ConsentToDataProcessing" class="form-check-input" required />
                        <label class="form-check-label" asp-for="ConsentToDataProcessing">
                            Wyrażam zgodę na przetwarzanie moich danych osobowych przez Heated Box sp. z o.o. z siedzibą w Częstochowie (42-200), ul. Wojciecha Korfantego 16 (dalej "PriceSafari"), w celach marketingowych produktów i usług PriceSafari. 
                            Dane osobowe nie będą udostępniane innym odbiorcom. Przysługuje mi prawo dostępu do treści moich danych oraz ich poprawiania poprzez bezpośredni kontakt z PriceSafari. Podanie danych osobowych jest dobrowolne.
                        </label>
                        <span asp-validation-for="ConsentToDataProcessing" class="text-danger"></span>
                    </div>

                    <button type="button" class="DarkButton" onclick="nextStep()">Dalej</button>
                </div>

                <!-- Krok 2 -->
                <div id="step2" class="form-step" style="display:none;">

                    <div class="login-box-head">
                        <div class="login-box-title">Formularz kontaktowy</div>
                    </div>

                    <div class="contact-box-info">
                        Jaka firme reprezentujesz?
                    </div>
                    <div class="form-floating">
                       

                        <input asp-for="CompanyName" class="form-control" placeholder="Firma sp. z o. o." />
                        <label asp-for="CompanyName" class="form-label">Nazwa firmy</label>
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                  
                    <button type="button" class="DarkButton" onclick="nextStep()">Dalej</button>
                </div>

                <!-- Krok 3 -->
                <div id="step3" class="form-step" style="display:none;">

                    <div class="login-box-head">
                        <div class="login-box-title">Formularz kontaktowy</div>
                    </div>

                    <div class="contact-box-info">
                        Jaka firme reprezentujesz?
                    </div>
                    <div class="form-floating">

                        <input asp-for="FirstName" class="form-control" placeholder="Jan" />
                        <label asp-for="FirstName" class="form-label">Imie</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>

                    </div>
                    <div class="form-floating">

                        <input asp-for="LastName" class="form-control" placeholder="Kowalski" />
                        <label asp-for="LastName" class="form-label">Nazwisko</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                    
                    <button type="button" class="btn btn-secondary" onclick="prevStep()">Wstecz</button>
                    <button type="button" class="DarkButton" onclick="nextStep()">Dalej</button>
                </div>

                <!-- Krok 4 -->
                <div id="step4" class="form-step" style="display:none;">
                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <button type="button" class="btn btn-secondary" onclick="prevStep()">Wstecz</button>
                    <button type="submit" class="btn btn-success">Wyślij</button>
                </div>
            </form>
        </div>
        <div class="Vert-50">
            <div class="Text-Box">
                <h1 class="Text-Box-Title">Monitoring cen</h1>

                <div class="Text-Box-Text">
                    <p>
                        Maksymalizuj zyski, precyzyjnie zarządzaj strategią cenową i zawsze wyprzedzaj konkurencję.
                        PriceSafari to zaawansowane narzędzie do monitorowania cen, które codziennie dostarcza aktualne dane o cenach rynkowych produktów znajdujących się w Twojej ofercie.
                        Dzięki naszym szczegółowym analizom możesz szybko reagować na zmiany, poprawiać rentowność oraz zwiększyć zwrot z inwestycji w kampanie reklamowe.

                    </p>


                </div>

            </div>
            <div class="Horizontal-Box">
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/MoneyOut.svg" alt="Analiza Cen">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Analiza Cen</h2>
                        <p class="Icon-Box-Text-Text">Reaguj natychmiast na zmiany rynkowe, aby maksymalizować zyski.</p>
                    </div>
                </div>
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Chart.svg" alt="Śledzenie Konkurencji">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Śledzenie Konkurencji</h2>
                        <p class="Icon-Box-Text-Text">Monitoruj ceny konkurencji na bieżąco, by zawsze być o krok przed nimi.</p>
                    </div>
                </div>

                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Click.svg" alt="Szybkie Wdrożenie">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Szybkie Wdrożenie</h2>
                        <p class="Icon-Box-Text-Text">Wystarczy nazwa Twojej domeny, aby namierzyć konkurencję i ich ceny.</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="Nav-Bar-Fotter">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="Price Safari">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var currentStep = 1;
        var totalSteps = 4;

        function showStep(step) {
            $('.form-step').hide();
            $('#step' + step).show();
        }

        function nextStep() {
            var $inputs = $('#step' + currentStep + ' :input');
            var isValid = true;
            $inputs.each(function () {
                if (!$(this).valid()) {
                    isValid = false;
                }
            });
            if (isValid) {
                currentStep++;
                if (currentStep <= totalSteps) {
                    showStep(currentStep);
                }
            }
        }

        function prevStep() {
            currentStep--;
            if (currentStep >= 1) {
                showStep(currentStep);
            }
        }

        $(document).ready(function () {
            showStep(currentStep);

            // Inicjalizacja walidacji
            $('#contactForm').validate({
                // Ustawienia walidacji
                ignore: ':hidden', // Domyślnie ignoruje ukryte pola
                errorClass: 'is-invalid',
                validClass: 'is-valid',
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('text-danger');
                    if (element.parent('.input-group').length || element.prop('type') === 'checkbox') {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        });
    </script>
}
