@model PriceSafari.Models.ViewModels.ContactFormViewModel

@{
    ViewData["Title"] = "Formularz kontaktowy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="Main-home">


    <div class="Vert-Home" style="margin-top:64px; margin-bottom:64px;">
        <div class="VertDark">
            @if (ViewBag.FormSubmitted == true)
            {

                <div class="form-content">
                    <div class="login-box-head">
                        <div class="login-box-title">Dziękujemy za wiadomość!</div>
                    </div>
                    <div class="contact-box-info">

                        <p>Skontaktujemy się z Państwem w ciągu 24 godzin, aby umówić spotkanie online i omówić Państwa potrzeby w zakresie monitorowania cen online.</p>
                        <p>Następnie przygotujemy dla Państwa darmowe konto demo, w którym przez 72 godziny będziecie mogli analizować ceny 300 wybranych przez Państwa produktów.</p>
                    </div>




                </div>
                <a href="@Url.Action("Index", "Home")" class="DarkButton">Price Safari</a>

            }
            else
            {
                <form asp-action="Contact" style="width:100%; display:flex; height:100% " method="post" id="contactForm">
                    @Html.AntiForgeryToken()

                    <!-- Krok 1 -->
                    <div id="step1" class="form-step">
                        <div class="form-content">
                            <!-- Treść kroku 1 -->
                            <div class="login-box-head">
                                <div class="login-box-title">Formularz kontaktowy</div>
                            </div>

                            <div class="contact-box-info">
                                Pod jakim adresem e-mail możemy się z Tobą skontaktować?
                            </div>

                            <div class="form-field">
                                <div class="form-floating">
                                    <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                                    <label asp-for="Email" class="form-label">Email</label>
                                </div>
                                <div class="validation-message">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-group form-check">
                                    <input asp-for="ConsentToDataProcessing" class="form-check-input" />
                                    <label class="form-check-label" asp-for="ConsentToDataProcessing">
                                        Wyrażam zgodę na przetwarzanie moich danych osobowych przez Heated Box sp. z o.o. z siedzibą w Częstochowie (42-200), ul. Wojciecha Korfantego 16 (dalej "PriceSafari"), w celach marketingowych produktów i usług PriceSafari.
                                        Dane osobowe nie będą udostępniane innym odbiorcom. Przysługuje mi prawo dostępu do treści moich danych oraz ich poprawiania poprzez bezpośredni kontakt z PriceSafari. Podanie danych osobowych jest dobrowolne.
                                    </label>
                                </div>
                                <div class="validation-message">
                                    <span id="consentError" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-buttons">
                            <button type="button" class="ActionButton" onclick="nextStep()">Dalej</button>
                        </div>
                    </div>

                    <!-- Krok 2 -->
                    <div id="step2" class="form-step" style="display:none;">
                        <div class="form-content">
                            <!-- Treść kroku 2 -->
                            <div class="login-box-head">
                                <div class="login-box-title">Formularz kontaktowy</div>
                            </div>

                            <div class="contact-box-info">
                                Pod jakim adresem znajdziemy Państwa stronę internetową?
                            </div>

                            <div class="form-field">
                                <div class="form-floating">
                                    <input asp-for="CompanyName" class="form-control" placeholder="Strona internetowa" />
                                    <label asp-for="CompanyName" class="form-label">Strona internetowa</label>
                                </div>
                                <div class="validation-message">
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-buttons TwinButton">
                            <button type="button" class="DarkButton" onclick="prevStep()">Wstecz</button>
                            <button type="button" class="ActionButton" onclick="nextStep()">Dalej</button>
                        </div>
                    </div>

                    <!-- Krok 3 -->
                    <div id="step3" class="form-step" style="display:none;">
                        <div class="form-content">
                            <!-- Treść kroku 3 -->
                            <div class="login-box-head">
                                <div class="login-box-title">Formularz kontaktowy</div>
                            </div>

                            <div class="contact-box-info">
                                Jak mamy się do Ciebie zwracać?
                            </div>

                            <div class="form-field">
                                <div class="form-floating">
                                    <input asp-for="FirstName" class="form-control" placeholder="Jan" />
                                    <label asp-for="FirstName" class="form-label">Imię</label>
                                </div>
                                <div class="validation-message">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-field">
                                <div class="form-floating">
                                    <input asp-for="LastName" class="form-control" placeholder="Kowalski" />
                                    <label asp-for="LastName" class="form-label">Nazwisko</label>
                                </div>
                                <div class="validation-message">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-buttons TwinButton">
                            <button type="button" class="DarkButton" onclick="prevStep()">Wstecz</button>
                            <button type="button" class="ActionButton" onclick="nextStep()">Dalej</button>
                        </div>
                    </div>

                    <!-- Krok 4 -->
                    <div id="step4" class="form-step" style="display:none;">
                        <div class="form-content">
                            <!-- Treść kroku 4 -->
                            <div class="login-box-head">
                                <div class="login-box-title">Formularz kontaktowy</div>
                            </div>

                            <div class="contact-box-info">
                                Pod jakim numerem możemy się z Tobą skontaktować?
                            </div>

                            <div class="form-field">
                                <div class="form-floating">
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="123 456 789" />
                                    <label asp-for="PhoneNumber" class="form-label">Telefon</label>
                                </div>
                                <div class="validation-message">
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Pole wyboru preferowanej formy kontaktu -->
                            <div class="form-field form-group-radio">

                                <div>
                                    <input type="radio" asp-for="PrefersPhone" value="true" id="prefersPhone" />
                                    <label for="prefersPhone">Preferuję kontakt telefoniczny</label>
                                </div>
                                <div>
                                    <input type="radio" asp-for="PrefersPhone" value="false" checked id="prefersEmail" />
                                    <label for="prefersEmail">Preferuję kontakt mailowy</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-buttons TwinButton">
                            <button type="button" class="DarkButton" onclick="prevStep()">Wstecz</button>
                            <button type="submit" class="ActionButton">Wyślij</button>
                        </div>
                    </div>
                </form>

            }
        </div>
        <div class="Vert-50">
            <div class="Text-Box">
                <div class="Text-Box-Title">
                    Przetestuj PriceSafari
                </div>
                <div class="Text-Box-Text">

                    <div class="sub-title">
                        <h3>Gwarantujemy, że wdrożenie naszego programu będzie przełomową zmiana w Twojej firmie.</h3>
                    </div>



                    <div class="text-icon-flex">
                        <img src="~/images/Product-search.svg" alt="Monitoring konkurencji" />
                        <div class="text">
                            <strong>Codzienna aktualizacja cen i dostępności produktów</strong> <p>Każdego dnia śledzimy ceny, dostępność towarów i działania konkurencji, dostarczając Ci zawsze najświeższe informacje. </p>
                        </div>
                    </div>

                    <div class="text-icon-flex">
                        <img src="~/images/MoneyLock.svg" alt="Szybkie wdrożenie" />
                        <div class="text">
                            <strong>Szybkie wdrożenie</strong> <p> Dodanie twoich produktów działa w sposób zautomatyzowany, jedyne czego potrzebujemy to nazwa Twojej domeny. Następnie wybierasz te grupy produktów które chcesz analizować i zaczynamy działanie.</p>
                        </div>
                    </div>

                    <div class="text-icon-flex">
                        <img src="~/images/Basket.svg" alt="Koncentracja działań" />
                        <div class="text">
                            <strong>Bezpłatne konto demonstracyjne</strong>

                            <p> Oferujemy kompleksowe, darmowe wdrożenie demonstracyjne, które rozpoczynamy od rozmowy online w celu ustalenia Twoich potrzeb. Poznasz możliwości naszej platformy i sprawdzisz, jak może wspierać Twoją strategię cenową. </p>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>






</div>














    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script>
            var currentStep = 1;
            var totalSteps = 4;

            function showStep(step) {
                $('.form-step').hide();
                $('#step' + step).show();
                
                $.validator.unobtrusive.parse('#contactForm');
            }

            function prevStep() {
                currentStep--;
                if (currentStep >= 1) {
                    showStep(currentStep);
                }
            }

            function nextStep() {
                var isValid = true;

               
                $('#step' + currentStep + ' :input').each(function () {
                    if (!$(this).valid()) {
                        isValid = false;
                    }
                });

               
                if (currentStep === 1) {
                    var consentChecked = $('#ConsentToDataProcessing').is(':checked');
                    if (!consentChecked) {
                        isValid = false;
                        
                        $('#consentError').text('Musisz wyrazić zgodę na przetwarzanie danych.');
                    } else {
                      
                        $('#consentError').text('');
                    }
                }

                if (isValid) {
                    currentStep++;
                    if (currentStep <= totalSteps) {
                        showStep(currentStep);
                    }
                }
            }

            $(document).ready(function () {
                showStep(currentStep);
                
                $.validator.unobtrusive.parse('#contactForm');
            });
        </script>
    }

