@model dynamic
@using Schema.NET
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Price Safari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var faqItems = ViewBag.FAQItems as List<PriceSafari.Models.HomeModels.FAQItem>;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - FAQ</title>
    @if (faqItems != null && faqItems.Any())
    {
        // Tworzymy tablicę IThing[]
        IThing[] questions = faqItems.Select(item => (IThing)new Question()
                {
                    Name = item.Question,
                    AcceptedAnswer = new Answer()
                    {
                        Text = item.Answer
                    }
                }).ToArray();

        var faqPage = new FAQPage()
                {
                    MainEntity = questions 
                };

        var jsonLd = faqPage.ToString();

        @Html.Raw($"<script type=\"application/ld+json\">\n{jsonLd}\n</script>")
    }
</head>
<body>
  

    <div class="Main-home">
        

        <div class="Vert-Home">
            <div class="Vert-50-List">
                <h2 class="Text-Box-Title" style="margin-bottom:32px;">Pełna lista najczęściej zadawanych pytań</h2>

                @foreach (var item in faqItems)
                {
                    <div class="List-Box-Q" onclick="toggleAnswer(this)">
                        <div class="List-Box-Text">
                            <h3 class="List-Box-Text-Title">@item.Question</h3>
                            <div class="List-Box-Text-Text-Q">
                                @Html.Raw(item.Answer)
                            </div>
                        </div>
                    </div>
                }
            </div>

           
        </div>
    </div>

   
    <script>
        function toggleAnswer(element) {
            const isActive = element.classList.contains('active');
     
            document.querySelectorAll('.List-Box-Q.active').forEach((el) => {
                el.classList.remove('active');
            });
            
            if (!isActive) {
                element.classList.add('active');
            }
        }
    </script>

</body>
</html>
