@{
    ViewData["Title"] = "Price Safari";
}

<div class="Main-home">
    <div class="Nav-Bar">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="PriceSafari">
                </div>
            </div>
            <div class="Nav-Bar-Scal-Box nav-buttons">
                <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>

            </div>
        </div>
    </div>
    <div class="mobile-bottom-button">
        <a href="/Identity/Account/Register" class="mobile-action-button">Dołącz za darmo</a>
    </div>


    <div class="Vert-Home">
        <div class="Vert-50">
            <div class="Text-Box">
                <h1 class="Text-Box-Title">Monitoring cen konkurencji</h1>



                <div class="Text-Box-Text">
                    <p>
                        Zwiększ swoje zyski, popraw zwrot z inwestycji w reklamy produktowe i bądź na bieżąco z rynkiem dzięki Price Safari – zaawansowanemu narzędziu do monitorowania cen produktów w sklepach internetowych i na platformach sprzedażowych. Śledź konkurencję, dostosowuj ceny na bieżąco i maksymalizuj zyski dzięki precyzyjnym analizom rynku. 
                        
                    </p>

                    <p>
                        Price Safari pozwoli Ci oszczędzać czas, zyskać przewagę nad konkurencją i chronić marżę. To klucz do sukcesu w dynamicznym świecie sprzedaży online.
                    </p>
                </div>

            </div>
            <div class="Horizontal-Box">
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/MoneyOut.svg" alt="Analiza Cen">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Analiza Cen</h2>
                        <p class="Icon-Box-Text-Text">Reaguj natychmiast na zmiany rynkowe, aby maksymalizować zyski.</p>
                    </div>
                </div>
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Chart.svg" alt="Śledzenie Konkurencji">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Śledzenie Konkurencji</h2>
                        <p class="Icon-Box-Text-Text">Monitoruj ceny konkurencji na bieżąco, by zawsze być o krok przed nimi.</p>
                    </div>
                </div>
              
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Click.svg" alt="Szybkie Wdrożenie">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Szybkie Wdrożenie</h2>
                        <p class="Icon-Box-Text-Text">Potrzebujemy tylko nazwy domeny, aby namierzyć konkurencję i ich ceny.</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="Vert-50">
            <img src="~/images homepage/Home-Banner-L.gif" alt="Price Safari">
        </div>
    </div>
    <div class="Vert-Space-Dark">
        <div class="Vert-List">
            <h2 class="Text-Box-Title" style="margin-bottom:32px; color: #fff;">Jak to działa?</h2>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/1-b.svg" alt="Rejestracja">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Zakładamy bezpłatne konto testowe</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Spotkajmy się i porozmawiajmy o Twoich potrzebach.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/2-b.svg" alt="Znajdziemy produkty">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Znajdziemy produkty</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Znajdziemy Twoje produkty, konkurencje i ceny.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/3-b.svg" alt="Zaczynamy zbierać ceny">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Zaczynamy zbierać ceny</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Uruchamiamy scrapowanie cen dla wybranych produktów.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img id="homeBanner" src="~/images homepage/4-b.svg" alt="Poprawiasz ROAS">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Poprawiasz ROAS</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Analizuj codziennie aktualne ceny, zwiększaj sprzedaż.</div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="Nav-Bar-Fotter">
        <div class="Nav-Bar-Scal">

            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="Price Safari">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Home/index.min.js"></script>

