@{
    ViewData["Title"] = "Price Safari";
}


<style>
    /* Styl dla modala */
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        padding-top: 0;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background-color: rgba(0,0,0,0.8);
    }

    /* Styl dla zawartości modala (obrazka) */
    .modal-content {
        margin: auto;
        display: block;
        width: auto;
        max-width: 90vw;
        max-height: 90vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    /* Styl dla przycisku zamknięcia */
    .close {
        position: absolute;
        top: 16px;
        right: 32px;
        color: red;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<div class="Main-home">
    <div class="Nav-Bar">
        <div class="Nav-Bar-Scal">
            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="PriceSafari">
                </div>
            </div>
            <div class="Nav-Bar-Scal-Box nav-buttons">
                <a href="/Identity/Account/Login" class="Nav-Bar-Button">Panel</a>

            </div>
        </div>
    </div>


    <div class="Vert-Home">
        <div class="Vert-50">
            <div class="Text-Box">
                <h1 class="Text-Box-Title">Monitoring cen</h1>

                <div class="Text-Box-Text">
                    <p>
                        Maksymalizuj zyski, precyzyjnie zarządzaj strategią cenową i zawsze wyprzedzaj konkurencję. 
                        PriceSafari to zaawansowane narzędzie do monitorowania cen, które codziennie dostarcza aktualne dane o cenach rynkowych produktów znajdujących się w Twojej ofercie. 
                        Dzięki naszym szczegółowym analizom możesz szybko reagować na zmiany, poprawiać rentowność oraz zwiększyć zwrot z inwestycji w kampanie reklamowe.

                    </p>

                   
                </div>

            </div>
            <div class="Horizontal-Box">
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/MoneyOut.svg" alt="Analiza Cen">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Analiza Cen</h2>
                        <p class="Icon-Box-Text-Text">Reaguj natychmiast na zmiany rynkowe, aby maksymalizować zyski.</p>
                    </div>
                </div>
                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Chart.svg" alt="Śledzenie Konkurencji">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Śledzenie Konkurencji</h2>
                        <p class="Icon-Box-Text-Text">Monitoruj ceny konkurencji na bieżąco, by zawsze być o krok przed nimi.</p>
                    </div>
                </div>

                <div class="Icon-Box">
                    <div class="Icon-Box-Icon">
                        <img src="~/images/Click.svg" alt="Szybkie Wdrożenie">
                    </div>
                    <div class="Icon-Box-Text">
                        <h2 class="Icon-Box-Text-Title">Szybkie Wdrożenie</h2>
                        <p class="Icon-Box-Text-Text">Wystarczy nazwa Twojej domeny, aby namierzyć konkurencję i ich ceny.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="Vert-50">
            <img id="homeBanner" src="~/images homepage/Home-Banner-L.gif" alt="Price Safari">
            
            <img id="preloadedImage" src="~/images homepage/Home-Banner-L.png" alt="Preloaded Frame" style="display: none;">
        </div>


    </div>
    <div class="Vert-Space-Dark">
        <div class="Vert-List">
            <h2 class="Text-Box-Title" style="margin-bottom:32px; color: #fff;">Jak to działa?</h2>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/1-b.svg" alt="Rejestracja">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Zakładamy bezpłatne konto testowe</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Spotkanie online i rozmowa o Twoich potrzebach.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/2-b.svg" alt="Znajdziemy produkty">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Znajdziemy produkty</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Znajdziemy Twoje produkty, jedynie po nazwie sklepu.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img src="~/images homepage/3-b.svg" alt="Zaczynamy zbierać ceny">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Zaczynamy zbierać ceny</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Poznasz całą oferte wybranych produktów, ceny i wiele więcej.</div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <div class="List-Box-Line"></div>
                </div>
            </div>
            <div class="List-Box">
                <div class="Icon-Box-Icon">
                    <img id="homeBanner" src="~/images homepage/4-b.svg" alt="Poprawiasz ROAS">
                </div>
                <div class="List-Box-Text">
                    <h3 class="List-Box-Text-Title" style="color: #fff;">Poprawiasz ROAS</h3>
                    <div class="List-Box-Text-Text" style="color: #fff;">Analizuj codziennie aktualne ceny, zwiększaj sprzedaż.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="Vert-Home">
    

        <div class="Vert-50" id="banner-change-target">
            <img src="~/images homepage/PanelCeny.png" class="banner-img" style="display:block; cursor:pointer;" alt="Produkty">
            <img src="~/images homepage/Ceny.png" class="banner-img" style="display:none; cursor:pointer;" alt="Ceny">

            <div class="button-container">
                <button class="change-banner" data-index="0">Produkty</button>
                <button class="change-banner" data-index="1">Ceny</button>
            </div>
        </div>


        <div class="Vert-50" style="justify-content:flex-start;">
            <div class="Text-Box">
           
                <div class="Text-Box-Text">
                    <strong>Codzienna aktualizacja cen i dostępności produktów</strong>
                    <p>
                        
                        Każdego dnia śledzimy ceny, dostępność towarów i działania konkurencji, dostarczając Ci zawsze najświeższe informacje. Analizujemy rynek nie tylko w Polsce, ale i na 15 innych rynkach międzynarodowych, co pozwala na lepsze zrozumienie trendów i dostosowanie strategii w czasie rzeczywistym.

                    </p>
        
                    
                    <strong>Szybkie wdrożenie</strong>
                    <p>
                        Dodanie twoich produktów działa w sposób zautomatyzowany, jedyne czego potrzebujemy to nazwa Twojej domeny. Następnie wybierasz te grupy produktów które chcesz analizować i zaczynamy działanie. 

                    </p>

                    <strong>Koncentracja działań</strong>
                    <p>Panel aplikacji został zaprojektowany z myślą o maksymalnym skupieniu na kluczowych wskaźnikach biznesowych. 
                        Intuicyjny interfejs ułatwia obsługę i zapewnia szybki dostęp do najważniejszych danych, dzięki czemu możesz podejmować trafne decyzje w krótszym czasie. </p>

                </div>

            </div>
           

        </div>
      


    </div>

    <div class="Nav-Bar-Fotter">
        <div class="Nav-Bar-Scal">

            <div class="Nav-Bar-Scal-Box">
                <div class="Nav-Bar-Logo">
                    <img src="~/images homepage/PriceSafari.png" alt="Price Safari">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Struktura modala -->
<div id="image-modal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal-image">
</div>

<script src="/js/Home/index.min.js"></script>


<script>
    function freezeGif() {
        var banner = document.getElementById("homeBanner");
        var frozenFrameSrc = banner.src.replace('.gif', '.png');

  
        var preloadedImage = document.getElementById("preloadedImage");

        if (preloadedImage.complete) {
         
            banner.src = frozenFrameSrc;
        } else {
       
            preloadedImage.onload = function () {
                banner.src = frozenFrameSrc;
            };
        }
    }

    setTimeout(freezeGif, 5000);

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Funkcjonalność zmiany bannerów
        const buttons = document.querySelectorAll('.change-banner');
        const images = document.querySelectorAll('#banner-change-target .banner-img');

        buttons[0].classList.add('change-banner-active');

        buttons.forEach((button, index) => {
            button.addEventListener('click', function () {
                buttons.forEach(btn => btn.classList.remove('change-banner-active'));

                this.classList.add('change-banner-active');

                images.forEach(img => {
                    img.style.display = 'none';
                });

                images[this.getAttribute('data-index')].style.display = 'block';
            });
        });

        // Funkcjonalność modala
        var modal = document.getElementById("image-modal");
        var modalImg = document.getElementById("modal-image");
        var closeBtn = document.querySelector("#image-modal .close");

        images.forEach(function (image) {
            image.addEventListener('click', function () {
                modal.style.display = "block";
                modalImg.src = this.src;
            });
        });

        closeBtn.addEventListener('click', function () {
            modal.style.display = "none";
        });

        modal.addEventListener('click', function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    });
</script>