<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Cennik - Price Safari</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link do pliku CSS -->
</head>
<body>
    <div class="Main-home">


        <div class="Vert-Home">
            <div class="Vert-100">
                <div class="Horizontal-100">
                    <div class="Text-Box-Title">
                        Monitoring cen w Polsce <img src="~/images homepage/PL.png" class="img-box-left" alt="PL" />
                    </div>
                </div>
                <div class="Horizontal-100">
                    <div class="Vert-50" style="justify-content:flex-start;">
                        <div class="Text-Box">

                            <div class="Text-Box-Text">



                                <h3>Prawie 88% kupujących sprawdza i porównuje ceny, zanim zdecyduje się na zakupy online.</h3>

                                <p>
                                    Platformy takie jak Ceneo, Allegro i Google oferują
                                    konsumentom łatwy dostęp do informacji o produktach i ich cenach, zwiększając tym samym przejrzystość rynku. PriceSafari to narzędzie, które zapewnia podobny poziom przejrzystości dla Ciebie, właściciela e-commerce.
                                </p>


                                <div class="button-space">
                                    <a href="/Home/Contact" class="CleanCTA">Testuj PriceSafari za darmo</a>
                                </div>



                            </div>

                        </div>

                    </div>
                    <div class="Vert-50">

                        <div class="Text-Box">



                            <div class="Text-Box-Text">

                                <div class="text-icon-flex">
                                    <img src="~/images/Dot.svg" />
                                    <div class="text">
                                        <strong>Śledzenie konkurencji</strong> – bieżąca analiza cen, dostępności oraz działań promocyjnych konkurentów, umożliwiająca natychmiastowe reakcje rynkowe.
                                    </div>
                                </div>

                                <div class="text-icon-flex">
                                    <img src="~/images/Dot.svg" />
                                    <div class="text">
                                        <strong>Pozycja w rankingu cenowym </strong> –  precyzyjne określenie pozycji Twoich produktów na tle konkurencyjnym, dostosowane do specyfiki wybranych rynków.
                                    </div>
                                </div>



                                <div class="text-icon-flex">
                                    <img src="~/images/Dot.svg" />
                                    <div class="text">
                                        <strong>Śledzenie zmian cen</strong> – Dane historyczne które wspierają podejmowanie trafnych decyzji cenowych.
                                    </div>
                                </div>

                                <div class="text-icon-flex">
                                    <img src="~/images/Dot.svg" />
                                    <div class="text">
                                        <strong>Rekomendacje dotyczące strategii cenowej </strong> – na podstawie danych rynkowych PriceSafari wskazuje produkty, w których warto rozważyć dostosowanie cen, aby maksymalizować marżę i zwiększać konkurencyjność.
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="Vert-Home">
          
            <div class="Horizontal-100">

             

                <!-- Sekcja planów -->
                <div class="plans-section">

                    <!-- Karta planu Free -->
                    <div class="plan-card">
                        <img src="~/images/Free.png" alt="Plan Free" class="plan-image">
                        <h2 class="plan-name">Monitoring 300 produktów</h2>
                        <p class="plan-price">Darmowy plan testowy</p>
                        <p class="plan-description">
                            Idealny dla początkujących użytkowników, którzy chcą przetestować nasze usługi.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>7 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Nie</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Lite -->
                    <div class="plan-card">
                        <img src="~/images/Lite.png" alt="Plan Lite" class="plan-image">
                        <h2 class="plan-name">Monitoring 500 produktów</h2>
                        <p class="plan-price">499,00 zł Netto</p>
                        <p class="plan-description">
                            Dla małych firm potrzebujących podstawowych funkcji monitoringu.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>7 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Basic -->
                    <div class="plan-card">
                        <img src="~/images/Basic.png" alt="Plan Basic" class="plan-image">
                        <h2 class="plan-name">Monitoring 1 000 produktów</h2>
                        <p class="plan-price">699,00 zł Netto</p>
                        <p class="plan-description">
                            Dla firm potrzebujących bardziej zaawansowanych funkcji monitoringu.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>7 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Pro -->
                    <div class="plan-card">
                        <img src="~/images/Pro.png" alt="Plan Pro" class="plan-image">
                        <h2 class="plan-name">Monitoring 2 000 produktów</h2>
                        <p class="plan-price">999,00 zł Netto</p>
                        <p class="plan-description">
                            Dla średnich firm wymagających profesjonalnych narzędzi analitycznych.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>7 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Ultimate -->
                    <div class="plan-card">
                        <img src="~/images/Ultimate.png" alt="Plan Ultimate" class="plan-image">
                        <h2 class="plan-name">Monitoring 4 000 produktów</h2>
                        <p class="plan-price">1 699,00 zł Netto</p>
                        <p class="plan-description">
                            Dla dużych firm potrzebujących pełnego zakresu naszych usług.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>7 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Enterprise -->
                    <div class="plan-card">
                        <img src="~/images/Enterprise.png" alt="Plan Enterprise" class="plan-image">
                        <h2 class="plan-name">Indywidualna ilość produktów</h2>
                        <p class="plan-price">Indywidualna wycena</p>
                        <p class="plan-description">
                            Dla przedsiębiorstw wymagających spersonalizowanych rozwiązań.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Skontaktuj się</a>
                    </div>

                </div>

            </div>
        </div>


    </div>
    

</body>
</html>
