

@{
    ViewData["Title"] = "Price Safari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var faqItems = ViewBag.FAQItems as List<PriceSafari.Models.HomeModels.FAQItem>;
}


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Monitoring Cen</title>
   
</head>
<body>


    <div class="Main-home">


        <div class="Vert-Home">

            <div class="Horizontal-100" style="justify-content:flex-start;">
                <div class="Text-Box">
                    <div class="Text-Box-Title">
                        Monitoring cen w Polsce <img src="~/images homepage/PL.png" class="img-box-left" alt="PL" />
                    </div>
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images/Product-search.svg" alt="Monitoring konkurencji" />
                            <div class="text">
                                <strong>Codzienna aktualizacja cen i dostępności produktów</strong> <p>Każdego dnia śledzimy ceny, dostępność towarów i działania konkurencji, dostarczając Ci zawsze najświeższe informacje. Analizujemy rynek nie tylko w Polsce, ale i na 15 innych rynkach międzynarodowych, co pozwala na lepsze zrozumienie trendów i dostosowanie strategii w czasie rzeczywistym.</p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/MoneyLock.svg" alt="Szybkie wdrożenie" />
                            <div class="text">
                                <strong>Szybkie wdrożenie</strong> <p> Dodanie twoich produktów działa w sposób zautomatyzowany, jedyne czego potrzebujemy to nazwa Twojej domeny. Następnie wybierasz te grupy produktów które chcesz analizować i zaczynamy działanie.</p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/Basket.svg" alt="Koncentracja działań" />
                            <div class="text">
                                <strong>Koncentracja działań</strong>          <p>
                                    Panel aplikacji został zaprojektowany z myślą o maksymalnym skupieniu na kluczowych wskaźnikach biznesowych.
                                    Intuicyjny interfejs ułatwia obsługę i zapewnia szybki dostęp do najważniejszych danych, dzięki czemu możesz podejmować trafne decyzje w krótszym czasie.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="Vert-Space-Gray">
            <div class="Vert-100" id="banner-change-target-1">
                <div class="button-container">
                    <button class="change-banner-1" data-target="banner-change-target-1" data-index="0">Produkty</button>
                    <button class="change-banner-1" data-target="banner-change-target-1" data-index="1">Ceny</button>
                    <button class="change-banner-1" data-target="banner-change-target-1" data-index="2">Konkurencja</button>
                    <button class="change-banner-1" data-target="banner-change-target-1" data-index="3">Historia</button>
                </div>

                <img src="~/images homepage/PanelCeny.png" class="banner-img" style="display:block; cursor:pointer;" alt="Produkty">
                <img src="~/images homepage/Ceny.png" class="banner-img" style="display:none; cursor:pointer;" alt="Ceny">
                <img src="~/images homepage/Konkurencja.png" class="banner-img" style="display:none; cursor:pointer;" alt="Konkurencja">
                <img src="~/images homepage/ZmianyCeny.png" class="banner-img" style="display:none; cursor:pointer;" alt="Historia">

            </div>

        </div>




    </div>

    <!-- Struktura modala -->
    <div id="image-modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obsługa pierwszego zestawu bannerów
            const buttons1 = document.querySelectorAll('.change-banner-1');
            const images1 = document.querySelectorAll('#banner-change-target-1 .banner-img');

            buttons1[0].classList.add('change-banner-1-active'); // Domyślnie aktywuj pierwszy przycisk

            buttons1.forEach((button, index) => {
                button.addEventListener('click', function () {
                    buttons1.forEach(btn => btn.classList.remove('change-banner-1-active')); // Usuń aktywność z innych przycisków
                    this.classList.add('change-banner-1-active'); // Dodaj aktywność do klikniętego przycisku
                    images1.forEach(img => img.style.display = 'none'); // Ukryj inne obrazki
                    images1[index].style.display = 'block'; // Pokaż wybrany obrazek
                });
            });

            // Obsługa drugiego zestawu bannerów
            const buttons2 = document.querySelectorAll('.change-banner-2');
            const images2 = document.querySelectorAll('#banner-change-target-2 .banner-img');

            buttons2[0].classList.add('change-banner-2-active'); // Domyślnie aktywuj pierwszy przycisk

            buttons2.forEach((button, index) => {
                button.addEventListener('click', function () {
                    buttons2.forEach(btn => btn.classList.remove('change-banner-2-active')); // Usuń aktywność z innych przycisków
                    this.classList.add('change-banner-2-active'); // Dodaj aktywność do klikniętego przycisku
                    images2.forEach(img => img.style.display = 'none'); // Ukryj inne obrazki
                    images2[index].style.display = 'block'; // Pokaż wybrany obrazek
                });
            });

            // Funkcjonalność modala
            var modal = document.getElementById("image-modal");
            var modalImg = document.getElementById("modal-image");
            var closeBtn = document.querySelector("#image-modal .close");

            const bannerImages = document.querySelectorAll('.banner-img');
            bannerImages.forEach(function (image) {
                image.addEventListener('click', function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                });
            });

            closeBtn.addEventListener('click', function () {
                modal.style.display = "none";
            });

            modal.addEventListener('click', function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        });

    </script>
</body>
</html>




