<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Cennik - Price Safari</title>
    <meta name="description" content="Sprawdź plany cenowe PriceSafari - elastyczne opcje monitorowania cen w Polsce i Europie, dostosowane do potrzeb Twojej firmy." />

    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <div class="Main-home">
        <div class="Vert-Home">

            <div class="Horizontal-100" style="justify-content:flex-start;">
                <div class="Text-Box">
                    <div class="Text-Box-Title">
                        Plany dla Monitoringu cen w Polsce
                    </div>
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images/Product-search.svg" alt="Monitoring konkurencji" />
                            <div class="text">
                                <strong>Codzienna aktualizacja cen i dostępności produktów</strong> <p>Każdego dnia śledzimy ceny, dostępność towarów i działania konkurencji, dostarczając Ci zawsze najświeższe informacje. Analizujemy rynek nie tylko w Polsce, ale i na 15 innych rynkach międzynarodowych, co pozwala na lepsze zrozumienie trendów i dostosowanie strategii w czasie rzeczywistym.</p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/MoneyLock.svg" alt="Szybkie wdrożenie" />
                            <div class="text">
                                <strong>Szybkie wdrożenie</strong> <p> Dodanie twoich produktów działa w sposób zautomatyzowany, jedyne czego potrzebujemy to nazwa Twojej domeny. Następnie wybierasz te grupy produktów które chcesz analizować i zaczynamy działanie.</p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/Basket.svg" alt="Koncentracja działań" />
                            <div class="text">
                                <strong>Koncentracja działań</strong>          <p>
                                    Panel aplikacji został zaprojektowany z myślą o maksymalnym skupieniu na kluczowych wskaźnikach biznesowych.
                                    Intuicyjny interfejs ułatwia obsługę i zapewnia szybki dostęp do najważniejszych danych, dzięki czemu możesz podejmować trafne decyzje w krótszym czasie.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="Vert-Home">
          
            <div class="Horizontal-100">

             

                <!-- Sekcja planów -->
                <div class="plans-section">

                    <!-- Karta planu Free -->
                    <div class="plan-card">
                        <img src="~/images/Free.png" alt="Plan Free" class="plan-image">
                        <h2 class="plan-name">Monitoring 300 produktów</h2>
                        <p class="plan-price">Darmowy plan testowy</p>
                        <p class="plan-description">
                            Darmowy plan testowy, analiza 300 Twoich produktów.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>3 (3 dni)</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>3 analizy</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Nie</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Lite -->
                    <div class="plan-card">
                        <img src="~/images/Lite.png" alt="Plan Lite" class="plan-image">
                        <h2 class="plan-name">Monitoring 500 produktów</h2>
                        <p class="plan-price">499,00 zł Netto</p>
                        <p class="plan-description">
                            Dla małych firm potrzebujących monitorowania 500 produktów.
                            Możliwość wgrania własnych marży, oraz integracja po API w celu aktualizowania własnych ceny w programie.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30 (30 dni)</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>14 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Basic -->
                    <div class="plan-card">
                        <img src="~/images/Basic.png" alt="Plan Basic" class="plan-image">
                        <h2 class="plan-name">Monitoring 1 000 produktów</h2>
                        <p class="plan-price">699,00 zł Netto</p>
                        <p class="plan-description">
                            Dla firm potrzebujących monitorowania 1000 produktów.
                            Możliwość wgrania własnych marży, oraz integracja po API w celu aktualizowania własnych ceny w programie.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30 (30 dni)</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>14 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Pro -->
                    <div class="plan-card">
                        <img src="~/images/Pro.png" alt="Plan Pro" class="plan-image">
                        <h2 class="plan-name">Monitoring 2 000 produktów</h2>
                        <p class="plan-price">999,00 zł Netto</p>
                        <p class="plan-description">
                            Dla średnich firm wymagających monitorowania 2 000 produktów.
                            Możliwość wgrania własnych marży, oraz integracja po API w celu aktualizowania własnych ceny w programie.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30 (30 dni)</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>14 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Ultimate -->
                    <div class="plan-card">
                        <img src="~/images/Ultimate.png" alt="Plan Ultimate" class="plan-image">
                        <h2 class="plan-name">Monitoring 4 000 produktów</h2>
                        <p class="plan-price">1 599,00 zł Netto</p>
                        <p class="plan-description">
                            Dla dużych firm potrzebujących monitorowania 4 000 produktów.
                            Możliwość wgrania własnych marży, oraz integracja po API w celu aktualizowania własnych ceny w programie.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>30 (30 dni)</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Co 24h</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Ceneo</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>14 analiz</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Wybierz plan</a>
                    </div>

                    <!-- Karta planu Enterprise -->
                    <div class="plan-card">
                        <img src="~/images/Enterprise.png" alt="Plan Enterprise" class="plan-image">
                        <h2 class="plan-name">Indywidualna ilość produktów</h2>
                        <p class="plan-price">Indywidualna wycena</p>
                        <p class="plan-description">
                            Dla przedsiębiorstw wymagających spersonalizowanych rozwiązań. Możliwość stworzenia indywidualnych funkcjonalności w programie.
                            Aplikacja uruchamiana na dedykowanym prywatnym serwerze.
                        </p>
                        <!-- Tabela funkcji planu -->
                        <table class="plan-features">
                            <tr>
                                <td>Pakiet aktualizacji:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Aktualizacja cen:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Źródło danych:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Dane historyczne:</td>
                                <td>Indywidualne</td>
                            </tr>
                            <tr>
                                <td>Dostęp do API:</td>
                                <td>Tak</td>
                            </tr>
                        </table>
                        <a href="/Home/Contact" class="plan-button">Skontaktuj się</a>
                    </div>

                </div>

            </div>
        </div>


    </div>
    

</body>
</html>
