@{
    ViewData["Title"] = "Price Safari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var faqItems = ViewBag.FAQItems as List<PriceSafari.Models.HomeModels.FAQItem>;
}


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Monitoring Cen</title>

</head>
<body>


    <div class="Main-home">


        <div class="Vert-Home">
            <div class="Vert-100">
                <div class="Horizontal-100">
                    <div class="Text-Box-Title">
                        Raporty cenowe w Europie<img src="~/images homepage/EU.png" class="img-box-left" />
                    </div>
                </div>
                <div class="Horizontal-100">
                    <div class="Vert-50" style="justify-content:flex-start;">
                        <div class="Text-Box">

                            <div class="Text-Box-Text">

                                <p> Raporty cenowe PriceSafari to zaawansowane narzędzie analityczne, które umożliwia kompleksowe monitorowanie i analizę dynamiki cen produktów na wielu rynkach europejskich. 
                                    Dzięki temu narzędziu zyskasz pełny wgląd w konkurencyjność cenową, co może być kluczowe przy podejmowaniu decyzji zakupowych. 
                                    Przykładowo, jeżeli negocjujesz warunki handlowe z dostawcą i chcesz mieć pewność, że uzyskujesz najbardziej konkurencyjną ofertę, raport 
                                    PriceSafari dostarczy precyzyjnych danych dotyczących cen interesujących Cię produktów na wybranych rynkach.
                                </p>
                                <p>Raporty mogą również wspierać ekspansję na nowe rynki — identyfikując kraje, w których 
                                    Twoje produkty mogą być konkurencyjnie wycenione w stosunku do lokalnych sprzedawców, możesz przygotować strategicznie dopasowane oferty na platformach takich jak Allegro.cz czy Allegro.sk. 
                                </p> 

                                    <p> Przygotowanie raportu wymaga dostarczenia pliku XML z feedem produktowym generowanym na potrzeby Google Merchandising. W dalszym etapie, na podstawie wskazanych przez Ciebie produktów,
                                    możesz określić, które z nich chcesz szczegółowo przeanalizować oraz na jakich rynkach. Zlecony raport zostanie dostarczony w ciągu 24 godzin.
                                </p> 

                                

                            </div>

                        </div>

                    </div>
                    <div class="Vert-50">

                        <div class="Text-Box">


                            <div class="Text-Box-Text">


                                <div class="Text-Box-Text">

                                    <div class="text-icon-flex">
                                        <img src="~/images/Product-search.svg" />
                                        <div class="text">
                                            <strong>Gdzie są najlepsze ceny</strong>
                                            <p>
                                                Odkryj gdzie w Europie można znaleźć produkty z Twojej oferty w najkorzystniejszych cenach.
                                                Nasze narzędzie analizuje rynki w 16 krajach Europy, przeliczając ceny na złotówki według aktualnych kursów NBP.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="text-icon-flex">
                                        <img src="~/images/MoneyLock.svg" />
                                        <div class="text">
                                            <strong>Gdzie zamawiać</strong>
                                            <p>
                                                Nasze narzędzie pomoże Ci znaleźć najtańsze oferty na interesujące Cię produkty. Dzięki temu zyskasz przewagę podczas negocjacji
                                                cenowych z dostawcami lub podejmiesz świadome decyzje o zamówieniach zza granicy, maksymalizując swoje zyski.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="text-icon-flex">
                                        <img src="~/images/Basket.svg" />
                                        <div class="text">
                                            <strong>Gdzie sprzedawać</strong>
                                            <p>
                                                Jeżeli planujesz rozwijać swoją sprzedaż na rynkach takich jak Allegro.cz czy Allegro.sk, nasze narzędzie umożliwi Ci porównanie swoich cen z ofertami dostępnymi w wybranym kraju. Możesz błyskawicznie sprawdzić, które produkty z
                                                Twojego asortymentu są o na przykład o 30% tańsze od najtańszych konkurencyjnych ofert na danym rynku.
                                            </p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
           
           
           

            

        </div>





        <div class="Vert-Space-Gray">
            <div class="Vert-100" >
                <div class="Text-Box">
                  
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/1-b.svg" />
                            <div class="text"> <strong>Wybór produktów i rynków docelowych</strong> 
                                <p>Po dostarczeniu nam pliku z feedem produktowym, przystąpimy do identyfikacji wskazanych przez Ciebie produktów. 
                                    Następnie, za pośrednictwem panelu aplikacji, będziesz mieć możliwość samodzielnego wyboru interesujących Cię produktów oraz docelowych rynków do analizy. 
                                    Panel umożliwia wygodne zarządzanie listą poprzez funkcje masowej edycji, co pozwala na sprawne i szybkie stworzenie spersonalizowanego zestawienia produktów do raportu.
                                </p> 
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/ReportPreparation.png" class="banner-img" style="display:block; cursor:pointer;" alt="Wybór produktów">




                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/2-b.svg" />
                            <div class="text">
                                <strong>Przygotowanie Raportu</strong>
                                <p> Raporty są zazwyczaj przygotowywane w ciągu 24 godzin od momentu zlecenia. W tym czasie przeprowadzamy szczegółowy proces zbierania i 
                                    analizy danych dotyczących wybranej grupy produktów na wskazanych rynkach, zapewniając precyzyjne i aktualne informacje. </p>
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/ReportList.png" class="banner-img" style="display:block; cursor:pointer;" alt="Przygotowanie raportu">





                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/3-b.svg" />
                            <div class="text">
                                <strong>Gotowy Raport</strong>
                                <p> Zebrane dane cenowe zostaną automatycznie przeliczone na podstawie kursów NBP, a produkty zostaną umieszczone w szczegółowych rankingach. 
                                    Dzięki możliwości zarządzania zakresami odchyleń cenowych możesz sprawnie filtrować interesujące Cię grupy produktów. W panelu po lewej stronie zawsze wyświetlana jest najniższa cena danego produktu, 
                                    przeliczona na PLN, natomiast po prawej – Twoja cena, co umożliwia szybkie porównanie i analizę konkurencyjności. </p>
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/RaportCeny.png" class="banner-img" style="display:block; cursor:pointer;" alt="Gotowy Raport">


                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/4-b.svg" />
                            <div class="text">
                                <strong>Ranking Cen</strong>
                                <p>
                                    Po kliknięciu na dany produkt uzyskasz kompleksowy przegląd dostępnych ofert z wybranych rynków. System umożliwia analizę rozkładu cen oraz lokalizację Twojej pozycji w rankingu konkurencyjności cenowej.
                                    Z łatwością zidentyfikujesz specyficzne trendy cenowe na poszczególnych rynkach. Każda oferta zawiera link prowadzący bezpośrednio do sklepu, w którym została zarejestrowana.
                                </p>
                            </div>

                        </div>


                    </div>

                </div>
                <img src="~/images homepage/SafariCeny.png" class="banner-img" style="display:block; cursor:pointer;" alt="Analiza cenowa">
            </div>

        </div>

        <div class="Vert-Home">

            <div class="Horizontal-100" style="justify-content:flex-start;">
                <div class="Text-Box">
                    <div class="Text-Box-Title">
                        Raporty cenowe w Europie<img src="~/images homepage/EU.png" class="img-box-left" />
                    </div>
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images/Product-search.svg" />
                            <div class="text">
                                <strong>Gdzie są najlepsze ceny</strong>
                                <p>
                                    Wyrusz na cenowe safari i odkryj, gdzie w Europie można znaleźć produkty z Twojej oferty w najkorzystniejszych cenach.
                                    Nasze narzędzie analizuje rynki w 16 krajach Europy, przeliczając ceny na złotówki według aktualnych kursów.
                                </p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/MoneyLock.svg" />
                            <div class="text">
                                <strong>Gdzie zamawiać</strong>
                                <p>
                                    Nasze narzędzie pomoże Ci znaleźć najtańsze oferty na interesujące Cię produkty. Dzięki temu zyskasz przewagę podczas negocjacji
                                    cenowych z dostawcami lub podejmiesz świadome decyzje o zamówieniach zza granicy, maksymalizując swoje zyski.
                                </p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/Basket.svg" />
                            <div class="text">
                                <strong>Gdzie sprzedawać</strong>
                                <p>
                                    Jeżeli planujesz rozwijać swoją sprzedaż na rynkach takich jak Allegro.cz czy Allegro.sk, nasze narzędzie umożliwi Ci porównanie swoich cen z ofertami dostępnymi w wybranym kraju. Możesz błyskawicznie sprawdzić, które produkty z
                                    Twojego asortymentu są o na przykład o 30% tańsze od najtańszych konkurencyjnych ofert na danym rynku.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Struktura modala -->
    <div id="image-modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>



</body>
</html>




