@{
    ViewData["Title"] = "Price Safari";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var faqItems = ViewBag.FAQItems as List<PriceSafari.Models.HomeModels.FAQItem>;
}


<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Monitoring Cen</title>

</head>
<body>


    <div class="Main-home">


        <div class="Vert-Home">

            <div class="Horizontal-100" style="justify-content:flex-start;">
                <div class="Text-Box">
                    <div class="Text-Box-Title">
                        Raporty cenowe w Europie<img src="~/images homepage/EU.png" class="img-box-left" />
                    </div>
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images/Product-search.svg" />
                            <div class="text">
                                <strong>Gdzie są najlepsze ceny</strong>
                                <p>
                                    Wyrusz na cenowe safari i odkryj, gdzie w Europie można znaleźć produkty z Twojej oferty w najkorzystniejszych cenach.
                                    Nasze narzędzie analizuje rynki w 16 krajach Europy, przeliczając ceny na złotówki według aktualnych kursów.
                                </p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/MoneyLock.svg" />
                            <div class="text">
                                <strong>Gdzie zamawiać</strong>
                                <p>
                                    Nasze narzędzie pomoże Ci znaleźć najtańsze oferty na interesujące Cię produkty. Dzięki temu zyskasz przewagę podczas negocjacji
                                    cenowych z dostawcami lub podejmiesz świadome decyzje o zamówieniach zza granicy, maksymalizując swoje zyski.
                                </p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/Basket.svg" />
                            <div class="text">
                                <strong>Gdzie sprzedawać</strong>
                                <p>
                                    Jeżeli planujesz rozwijać swoją sprzedaż na rynkach takich jak Allegro.cz czy Allegro.sk, nasze narzędzie umożliwi Ci porównanie swoich cen z ofertami dostępnymi w wybranym kraju. Możesz błyskawicznie sprawdzić, które produkty z
                                    Twojego asortymentu są o na przykład o 30% tańsze od najtańszych konkurencyjnych ofert na danym rynku.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>





        <div class="Vert-Space-Gray">
            <div class="Vert-100" >
                <div class="Text-Box">
                  
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/1-b.svg" />
                            <div class="text">
                                <strong>Wybranie produktów i regionów</strong>
                                <p>
                                    Wybierz regiony  oraz produkty ktorych ceny chcialbys znalez. Mozesz poslugiwac sie masowymi edycjami i w wygodny i szybki sposb stworzyc liste produktow ktroe chcesz sprawdzic w danym raporcie. 
                                </p>
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/ReportPreparation.png" class="banner-img" style="display:block; cursor:pointer;" alt="Wybór produktów">




                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/2-b.svg" />
                            <div class="text">
                                <strong>Przygototwanie Raportu</strong>
                                <p>
                                    Raporty sa przygototwywane zazwyczaj po 24H od daty ich zlecenia. W tym czasie zbieramy dane o interesujace Cie grupie produktow na wybranych rynkach.
                                </p>
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/ReportList.png" class="banner-img" style="display:block; cursor:pointer;" alt="Przygotowanie raportu">





                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/3-b.svg" />
                            <div class="text">
                                <strong>Przygototwanie Raportu</strong>
                                <p>
                                    Zebrane ceny zostana przeliczone automatycznie po kursach NBP, a produktu zostana umieszczone w rankingach. Sterujac zakresami interesujacych Cie 
                                    odchylen cenowych mozesz w szybki sposb odfiltrowac interesujace Cie grupy produktow.
                                    W boksach po lewej stronie zawsze widzisz najatnsza cene danego produktu przeliczoną od razu na PLN a z prawej strony Twoja cene.
                                </p>
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/RaportCeny.png" class="banner-img" style="display:block; cursor:pointer;" alt="Gotowy Raport">


                <div class="Text-Box">

                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images homepage/4-b.svg" />
                            <div class="text">
                                <strong>Ranking cenowy</strong>
                                <p>
                                    Klikajac w dany produkt zobaczysz pelen przekruj ofert z posrod wszystkich rynkow jakie wybrales. Zobaczysz jak wyglada rozlozenie cenowe oraz gdzie cenowo plasujesz sie w rankingu. 
                                </p>

                                <p>
                                    Do kazdej oferty dolaczony jest url przenposzacy na sklep w jakim oferta zostala znaleziona. 
                                </p>
                            </div>
                        </div>


                    </div>

                </div>
                <img src="~/images homepage/SafariCeny.png" class="banner-img" style="display:block; cursor:pointer;" alt="Analiza cenowa">
            </div>

        </div>

        <div class="Vert-Home">

            <div class="Horizontal-100" style="justify-content:flex-start;">
                <div class="Text-Box">
                    <div class="Text-Box-Title">
                        Raporty cenowe w Europie<img src="~/images homepage/EU.png" class="img-box-left" />
                    </div>
                    <div class="Text-Box-Text">

                        <div class="text-icon-flex">
                            <img src="~/images/Product-search.svg" />
                            <div class="text">
                                <strong>Gdzie są najlepsze ceny</strong>
                                <p>
                                    Wyrusz na cenowe safari i odkryj, gdzie w Europie można znaleźć produkty z Twojej oferty w najkorzystniejszych cenach.
                                    Nasze narzędzie analizuje rynki w 16 krajach Europy, przeliczając ceny na złotówki według aktualnych kursów.
                                </p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/MoneyLock.svg" />
                            <div class="text">
                                <strong>Gdzie zamawiać</strong>
                                <p>
                                    Nasze narzędzie pomoże Ci znaleźć najtańsze oferty na interesujące Cię produkty. Dzięki temu zyskasz przewagę podczas negocjacji
                                    cenowych z dostawcami lub podejmiesz świadome decyzje o zamówieniach zza granicy, maksymalizując swoje zyski.
                                </p>
                            </div>
                        </div>

                        <div class="text-icon-flex">
                            <img src="~/images/Basket.svg" />
                            <div class="text">
                                <strong>Gdzie sprzedawać</strong>
                                <p>
                                    Jeżeli planujesz rozwijać swoją sprzedaż na rynkach takich jak Allegro.cz czy Allegro.sk, nasze narzędzie umożliwi Ci porównanie swoich cen z ofertami dostępnymi w wybranym kraju. Możesz błyskawicznie sprawdzić, które produkty z
                                    Twojego asortymentu są o na przykład o 30% tańsze od najtańszych konkurencyjnych ofert na danym rynku.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Struktura modala -->
    <div id="image-modal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>



</body>
</html>




