@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Mapa strony - PriceSafari</title>
    <meta name="description" content="Mapa strony PriceSafari - szybki dostęp do monitoringu cen, raportów i informacji o firmie.">
</head>
<body>

    <div class="Main-home">
        <div class="Vert-Home">
            <div class="Vert-100">
                <div class="Horizontal-100">
                    <div class="Text-Box-Title">
                        Mapa strony
                    </div>
                </div>
                <div class="Horizontal-100">
                    <div class="Text-Box">
                        <!-- Strona główna -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/home/index">Strona Główna</a></strong>
                                    <p>Witamy na PriceSafari - monitoruj ceny i zwiększaj swoją konkurencyjność.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Monitoring Cen -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/PriceMonitoring">Monitoring Cen w Polsce</a></strong>
                                    <p>Monitoruj ceny konkurentów, zwiększaj sprzedaż i maksymalizuj zyski.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Raporty Cenowe -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/PriceRaports">Raporty Cenowe w Europie</a></strong>
                                    <p>Znajdź najniższe ceny produktów z Twojej oferty w całej Europie.</p>
                                </div>
                            </div>
                        </div>

                        <!-- O Nas -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/AboutUs">O Nas</a></strong>
                                    <p>Poznaj nasz zespół i wartości, którymi się kierujemy.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Dlaczego PriceSafari -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/WhyPriceSafari">Dlaczego PriceSafari?</a></strong>
                                    <p>Nasze przewagi technologiczne i indywidualne podejście do klienta.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Cennik -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/Pricing">Cennik</a></strong>
                                    <p>Podstawowe plany monitoringu cen w Polsce i Europie.</p>
                                </div>
                            </div>
                        </div>

                        <!-- FAQ -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/FAQ">FAQ</a></strong>
                                    <p>Pełna lista najczęściej zadawanych pytań i odpowiedzi.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Kontakt -->
                        <div class="Text-Box-Text">
                            <div class="text-icon-flex">
                                <img src="~/images/Dot.svg" alt="icon" />
                                <div class="text">
                                    <strong><a class="CleanButton" href="/Home/Contact">Kontakt</a></strong>
                                    <p>Skontaktuj się z nami, aby uzyskać więcej informacji.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script src="/js/Home/index.min.js"></script>
