@model Heat_Lead.Models.ViewModels.EditStoreViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="Page-Box">
    <div class="Page-Box-Container">
        <div class="Page-Box-Category">
            <div class="Category-Box-Title">Edytuj kanał sprzedaży</div>
            <partial name="_ManageNavCol" />
        </div>
        <div class="Horizontal">
            <form asp-action="Edit" method="post" class="Column-Form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="StoreId" type="hidden" />

                <div class="form-group">
                    <label asp-for="StoreName" class="control-label">Nazwa sklepu</label>
                    <input asp-for="StoreName" class="form-control" />
                    <span asp-validation-for="StoreName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="APIurl" class="control-label">API URL</label>
                    <input asp-for="APIurl" class="form-control" />
                    <span asp-validation-for="APIurl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="APIkey" class="control-label">API Key</label>
                    <input asp-for="APIkey" class="form-control" />
                    <span asp-validation-for="APIkey" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LogoUrl" class="control-label">URL Logo</label>
                    <input asp-for="LogoUrl" class="form-control" />
                    <span asp-validation-for="LogoUrl" class="text-danger"></span>
                </div>

                <div class="product-upper-box">

                    <input type="submit" value="Zapisz zmiany" class="Button-Add-Small" />

                    <div>
                        <button class="Button-Page-Small-r" onclick="showModal(event)">Usuń kanał sprzedaży</button>
                        <input type="hidden" id="deleteStoreId" value="@Model.StoreId" />
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>



<div id="deleteStoreModal" class="modal">
    <div class="modal-content">

        <div class="Campaign-Container-Title">Usunąć kanał sprzedaży?</div>
        
        <div class="Campaign-Container-Title">

            <button class="Button-Page-Small" onclick="closeModal()">Anuluj</button>
            <button class="Button-Page-Small-b" onclick="confirmDelete()">Potwierdź</button>
        </div>

    </div>
</div>

<script>
    function showModal(event) {
        event.preventDefault();
        document.getElementById('deleteStoreModal').style.display = 'block';
    }


    function closeModal() {
        document.getElementById('deleteStoreModal').style.display = 'none';
    }

    function confirmDelete() {
        const storeId = document.getElementById('deleteStoreId').value;

        fetch(`/Store/DeleteConfirmed/${storeId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken': document.getElementsByName("__RequestVerificationToken")[0].value
            }
        })
            .then(response => {
                if (response.ok) {
                    alert('Sklep został usunięty.');
                    window.location.href = '/Store/Index';
                } else {
                    alert('Wystąpił błąd przy usuwaniu sklepu.');
                }
            })
            .catch(error => {
                console.error('Wystąpił błąd:', error);
            });

        closeModal();
    }

</script>